Node Red Flows/Prediction.json
[{"id":"f3503b48.3cd778","type":"tab","label":"ManuallyPrediction","disabled":false,"info":""},{"id":"5bb3c0d8.dae16","type":"ui_base","z":"","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#560631","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#560631","edited":true},"page-titlebar-backgroundColor":{"value":"#560631","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#9d0b5a","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#560631","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Wind Energy Prediction","hideToolbar":"false","allowSwipe":"true","lockMenu":"true","allowTempTheme":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":60,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d5067dfd.88179","type":"ui_group","z":"","name":"Default","tab":"d733fa1d.2d8978","order":1,"disp":false,"width":"6","collapse":false},{"id":"d733fa1d.2d8978","type":"ui_tab","z":"","name":"WIND ENERGY PREDICTION  ","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"f5905bef.5629e8","type":"ui_tab","z":"","name":"WEATHER DASHBOARD","icon":"","order":2,"disabled":false,"hidden":false},{"id":"c3561fc4.28089","type":"ui_group","z":"","name":"CURRENT WEATHER ANALYSIS","tab":"f5905bef.5629e8","order":2,"disp":true,"width":"20","collapse":false},{"id":"a08cf12c.f4cfb","type":"ui_group","z":"","name":"NEXT 48 HOURS FORECAST","tab":"f5905bef.5629e8","order":2,"disp":true,"width":"20","collapse":false},{"id":"25344a8e.b7f6f6","type":"ui_spacer","name":"spacer","group":"bedc2eb8.719e6","order":2,"width":1,"height":1},{"id":"e27216cf.b36d58","type":"function","z":"f3503b48.3cd778","name":"PreToken","func":"global.set(\"a\",msg.payload.a)\nglobal.set(\"b\",msg.payload.b)\nglobal.set(\"c\",msg.payload.c)\nglobal.set(\"d\",msg.payload.d)\nglobal.set(\"e\",msg.payload.e)\nglobal.set(\"f\",msg.payload.hr)\nvar apikey=\"mSltuf4YmLOOPy7agh5ExVQrOPxMHElHTgAI93gyFEwB\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":260,"wires":[["7028f16f.6d747"]]},{"id":"7028f16f.6d747","type":"http request","z":"f3503b48.3cd778","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":260,"wires":[["e67c5d12.f2e1d"]]},{"id":"486635b5.30d00c","type":"inject","z":"f3503b48.3cd778","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":180,"wires":[["e27216cf.b36d58"]]},{"id":"2776f03f.48dab","type":"debug","z":"f3503b48.3cd778","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":893.0000114440918,"y":47.00000190734863,"wires":[]},{"id":"e67c5d12.f2e1d","type":"function","z":"f3503b48.3cd778","name":"Pre Prediction","func":"var a = global.get('a')\nvar b = global.get('b')\nvar c = global.get('c')\nvar d = global.get('d')\nvar e = global.get('e')\nvar f = global.get('f')\nvar token=msg.payload.access_token\nvar instance_id=\"0b51e768-007c-49b3-9404-9b49641ee00a\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload ={\"input_data\": [{\"field\":  [\"Wind Speed (m/s)\", \"Wind Direction\", \"end_date\", \"maxtempC\", \"windGustKmph\", \"DewPointC\", \"windChillC\", \"humidity\", \"precipMM\", \"pressure\", \"LV ActivePower\"], \"values\": [[a,b,c,d,0,0,0,e,0,f,0]]}]}\nreturn msg;\n","outputs":1,"noerr":0,"x":600,"y":260,"wires":[["367fe5ef.b3d10a"]]},{"id":"367fe5ef.b3d10a","type":"http request","z":"f3503b48.3cd778","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/89108b5b-a266-47ce-8b4f-8409b862b97d/predictions","tls":"","persist":false,"proxy":"","authType":"","x":770,"y":260,"wires":[["63ddb7a2.557698"]]},{"id":"4db9d73c.2655b8","type":"ui_form","z":"f3503b48.3cd778","name":"","label":"Predicting Wind Energy","group":"d5067dfd.88179","order":1,"width":0,"height":0,"options":[{"label":"Date/Time(dd/mm/yyyy hh:mm)","value":"c","type":"text","required":false,"rows":null},{"label":"Wind Speed (m/s)","value":"a","type":"number","required":true,"rows":null},{"label":"Wind Direction(°)","value":"b","type":"number","required":true,"rows":null},{"label":"Temprature","value":"d","type":"number","required":true,"rows":null},{"label":"Humidity","value":"e","type":"number","required":true,"rows":null},{"label":"Pressure","value":"f","type":"number","required":true,"rows":null}],"formValue":{"c":"","a":"","b":"","d":"","e":"","f":""},"payload":"","submit":"Predict","cancel":"Reset","topic":"","x":150,"y":360,"wires":[["e27216cf.b36d58"]]},{"id":"feb8930a.fe7fc","type":"ui_text","z":"f3503b48.3cd778","group":"d5067dfd.88179","order":2,"width":0,"height":0,"name":"","label":"Predicted Energy (kWh)","format":"{{msg.payload}}","layout":"row-spread","x":950,"y":180,"wires":[]},{"id":"63ddb7a2.557698","type":"function","z":"f3503b48.3cd778","name":"Output","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":120,"wires":[["2776f03f.48dab","feb8930a.fe7fc"]]},{"id":"10f33938.b600f7","type":"inject","z":"f3503b48.3cd778","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":340,"y":500,"wires":[["74ce7dd7.a66b24"]]},{"id":"74ce7dd7.a66b24","type":"ui_template","z":"f3503b48.3cd778","group":"d5067dfd.88179","name":"background image","order":3,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n<head>\n    <meta http-equiv=\"content-type\" content=\"text/html; charset=utf-8\" />\n    <meta charset=\"utf-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <title>Prediction Of Wind Energy</title>\n    <link href=\"https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css\" rel=\"stylesheet\">\n    <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css\">\n    <link rel=\"stylesheet\" href=\"index.css\">\n    \n    <style>\n    body{\n    background: url(https://colorlib.com/wp/wp-content/uploads/sites/2/alternative-energy-website-template.jpg) no-repeat 50% 50%;\n    background-size:cover;\n    }\n    \n    </style>\n    \n    \n</head>\n<body>\n    <script type=\"text/javascript\" src=\"https://code.jquery.com/jquery-3.2.1.min.js\"></script>\n    <script type=\"text/javascript\" src=\"https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js\"></script>\n    <script src=\"assets/js/script.js\"></script>\n    <script src=\"https://cdn.jsdelivr.net/npm/chart.js@2.8.0\"></script>\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":390,"y":560,"wires":[["c5dd2743.fac618"]]},{"id":"c5dd2743.fac618","type":"debug","z":"f3503b48.3cd778","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":370,"y":620,"wires":[]},{"id":"ed17e0b8.1cad4","type":"uibuilder","z":"f3503b48.3cd778","name":"","topic":"","url":"front-page","fwdInMessages":false,"allowScripts":false,"allowStyles":false,"copyIndex":true,"showfolder":false,"x":870,"y":540,"wires":[["93182d52.f9b1e"],[]]},{"id":"d749b5ff.2f82f8","type":"inject","z":"f3503b48.3cd778","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":860,"y":480,"wires":[["ed17e0b8.1cad4"]]},{"id":"93182d52.f9b1e","type":"debug","z":"f3503b48.3cd778","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":620,"wires":[]},{"id":"b3610084.d8785","type":"comment","z":"f3503b48.3cd778","name":"manaually prediction","info":"","x":510,"y":160,"wires":[]},{"id":"22533331.0d0c2c","type":"comment","z":"f3503b48.3cd778","name":"prediction front page","info":"","x":1030,"y":460,"wires":[]},{"id":"d5187475.b29a48","type":"comment","z":"f3503b48.3cd778","name":"background template","info":"","x":520,"y":480,"wires":[]}]
