Nodered Json File/Weather_Flow.json
[
    {
        "id": "a5880810.397518",
        "type": "tab",
        "label": "WEATHER MAIN UI",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9850183c.f376e8",
        "type": "tab",
        "label": "DAY 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "791895c1.03865c",
        "type": "tab",
        "label": "DAY 2 ",
        "disabled": false,
        "info": ""
    },
    {
        "id": "11b14c93.993073",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "Copperplate,Copperplate Gothic Light,fantasy",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "Copperplate,Copperplate Gothic Light,fantasy"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 50,
                "sy": 50,
                "gx": 40,
                "gy": 40,
                "cx": 10,
                "cy": 10,
                "px": 40,
                "py": 40
            }
        }
    },
    {
        "id": "26e7ab49.38b184",
        "type": "ui_tab",
        "z": "",
        "name": "WEATHER DASHBOARD",
        "icon": "",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9c2179ae.822ff8",
        "type": "ui_group",
        "z": "",
        "name": "CURRENT WEATHER ANALYSIS",
        "tab": "26e7ab49.38b184",
        "order": 1,
        "disp": true,
        "width": "20",
        "collapse": false
    },
    {
        "id": "16db05d7.8e39ea",
        "type": "ui_group",
        "z": "",
        "name": "NEXT 48 HOURS FORECAST",
        "tab": "26e7ab49.38b184",
        "order": 2,
        "disp": true,
        "width": "20",
        "collapse": false
    },
    {
        "id": "cd0e1980.917128",
        "type": "ui_group",
        "z": "",
        "name": "DAY 1 : (00:00 A.M. - 03:00 A.M.)",
        "tab": "f2f64202.a1429",
        "order": 1,
        "disp": true,
        "width": "20",
        "collapse": true
    },
    {
        "id": "f2f64202.a1429",
        "type": "ui_tab",
        "z": "",
        "name": "48 Hours Prediction (Current 24 Hours)",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9bee8b02.628888",
        "type": "ui_group",
        "z": "",
        "name": "DAY 1 : (03:00 A.M. - 06:00 A.M.)",
        "tab": "f2f64202.a1429",
        "order": 2,
        "disp": true,
        "width": "20",
        "collapse": true
    },
    {
        "id": "f40b221.a117ee",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "9c2179ae.822ff8",
        "order": 1,
        "width": 6,
        "height": 1
    },
    {
        "id": "2eecc233.bd760e",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "9c2179ae.822ff8",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "2d4d647.ee9839c",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "16db05d7.8e39ea",
        "order": 1,
        "width": 5,
        "height": 1
    },
    {
        "id": "98124568.bc7bb8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "16db05d7.8e39ea",
        "order": 3,
        "width": 2,
        "height": 1
    },
    {
        "id": "29e4f913.154a86",
        "type": "ui_group",
        "z": "",
        "name": "DAY 1 : (06:00 A.M. - 09:00 A.M.)",
        "tab": "f2f64202.a1429",
        "order": 3,
        "disp": true,
        "width": 20,
        "collapse": true
    },
    {
        "id": "a42b06e7.db9ab8",
        "type": "ui_group",
        "z": "",
        "name": "DAY 1 : (09:00 A.M. - 12:00 A.M.)",
        "tab": "f2f64202.a1429",
        "order": 4,
        "disp": true,
        "width": "20",
        "collapse": true
    },
    {
        "id": "f3989323.d2ccb",
        "type": "ui_group",
        "z": "",
        "name": "DAY 1 : (12:00 P.M. - 03:00 P.M.)",
        "tab": "f2f64202.a1429",
        "order": 5,
        "disp": true,
        "width": 20,
        "collapse": true
    },
    {
        "id": "91dc4c0c.d87c6",
        "type": "ui_group",
        "z": "",
        "name": "DAY 1 : (03:00 P.M. - 06:00 P.M.)",
        "tab": "f2f64202.a1429",
        "order": 6,
        "disp": true,
        "width": "20",
        "collapse": true
    },
    {
        "id": "e64d068.c089ff8",
        "type": "ui_group",
        "z": "",
        "name": "DAY 1 : (06:00 P.M. - 09:00 P.M.)",
        "tab": "f2f64202.a1429",
        "order": 7,
        "disp": true,
        "width": "20",
        "collapse": true
    },
    {
        "id": "50fbbf9f.35dc9",
        "type": "ui_group",
        "z": "",
        "name": "DAY 1 : (09:00 P.M. - 12:00 A.M.)",
        "tab": "f2f64202.a1429",
        "order": 8,
        "disp": true,
        "width": "20",
        "collapse": true
    },
    {
        "id": "a3c1e19d.9a28a",
        "type": "ui_tab",
        "z": "",
        "name": "48 Hours Prediction (Next 24 Hours)",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e1d6ed7b.84771",
        "type": "ui_group",
        "z": "",
        "name": "DAY 2 : (00:00 A.M. - 03:00 A.M.)",
        "tab": "a3c1e19d.9a28a",
        "order": 1,
        "disp": true,
        "width": 20,
        "collapse": true
    },
    {
        "id": "ab7df628.0d6a78",
        "type": "ui_group",
        "z": "",
        "name": "DAY 2 : (03:00 A.M. - 06:00 A.M.)",
        "tab": "a3c1e19d.9a28a",
        "order": 2,
        "disp": true,
        "width": 20,
        "collapse": true
    },
    {
        "id": "cfc4fafa.597d68",
        "type": "ui_group",
        "z": "",
        "name": "DAY 2 : (06:00 A.M. - 09:00 A.M.)",
        "tab": "a3c1e19d.9a28a",
        "order": 3,
        "disp": true,
        "width": 20,
        "collapse": true
    },
    {
        "id": "480e185a.263fb8",
        "type": "ui_group",
        "z": "",
        "name": "DAY 2 : (09:00 A.M. - 12:00 A.M.)",
        "tab": "a3c1e19d.9a28a",
        "order": 4,
        "disp": true,
        "width": 20,
        "collapse": true
    },
    {
        "id": "c56eb085.82b4f",
        "type": "ui_group",
        "z": "",
        "name": "DAY 2 : (12:00 P.M. - 03:00 P.M.)",
        "tab": "a3c1e19d.9a28a",
        "order": 5,
        "disp": true,
        "width": 20,
        "collapse": true
    },
    {
        "id": "978a5836.3de278",
        "type": "ui_group",
        "z": "",
        "name": "DAY 2 : (03:00 P.M. - 06:00 P.M.)",
        "tab": "a3c1e19d.9a28a",
        "order": 6,
        "disp": true,
        "width": 20,
        "collapse": true
    },
    {
        "id": "1d1294a0.cf985b",
        "type": "ui_group",
        "z": "",
        "name": "DAY 2 : (06:00 P.M. - 09:00 P.M.)",
        "tab": "a3c1e19d.9a28a",
        "order": 7,
        "disp": true,
        "width": 20,
        "collapse": true
    },
    {
        "id": "9cdec02c.efb4d",
        "type": "ui_group",
        "z": "",
        "name": "DAY 2 : (09:00 P.M. - 12:00 A.M.)",
        "tab": "a3c1e19d.9a28a",
        "order": 8,
        "disp": true,
        "width": 20,
        "collapse": true
    },
    {
        "id": "8b8896d0.449c78",
        "type": "comment",
        "z": "a5880810.397518",
        "name": "HTTP Request Via Weather API",
        "info": "",
        "x": 570,
        "y": 140,
        "wires": []
    },
    {
        "id": "9a82270d.6a6908",
        "type": "http request",
        "z": "a5880810.397518",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "http://api.openweathermap.org/data/2.5/forecast?id=1261481&APPID=f044fa317e908c0821619d9509699c2c",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 350,
        "y": 280,
        "wires": [
            [
                "a0bd6264.4f93b",
                "cbca8858.921c68",
                "f8bee3d4.bc654",
                "6d9ad526.84c38c",
                "7e6e2752.23d948",
                "6889ca86.67f804"
            ]
        ]
    },
    {
        "id": "bfbba284.833e9",
        "type": "inject",
        "z": "a5880810.397518",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 180,
        "wires": [
            [
                "9a82270d.6a6908",
                "aa651e33.b3d79"
            ]
        ]
    },
    {
        "id": "a0bd6264.4f93b",
        "type": "debug",
        "z": "a5880810.397518",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 650,
        "y": 240,
        "wires": []
    },
    {
        "id": "41b750f1.ccd7e",
        "type": "ui_text",
        "z": "a5880810.397518",
        "group": "9c2179ae.822ff8",
        "order": 9,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Temperature (in °C)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 930,
        "y": 340,
        "wires": []
    },
    {
        "id": "cf5ccf2c.b7082",
        "type": "ui_text",
        "z": "a5880810.397518",
        "group": "9c2179ae.822ff8",
        "order": 10,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Humidity (in %)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 780,
        "y": 520,
        "wires": []
    },
    {
        "id": "cbca8858.921c68",
        "type": "change",
        "z": "a5880810.397518",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list.0.main.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 440,
        "wires": [
            [
                "e7e79163.0832"
            ]
        ]
    },
    {
        "id": "f8bee3d4.bc654",
        "type": "change",
        "z": "a5880810.397518",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list.0.main.humidity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 520,
        "wires": [
            [
                "cf5ccf2c.b7082",
                "fa50b28d.f0a8b"
            ]
        ]
    },
    {
        "id": "a4718e30.028c5",
        "type": "ui_text",
        "z": "a5880810.397518",
        "group": "9c2179ae.822ff8",
        "order": 11,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Pressure (in hPa)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 770,
        "y": 600,
        "wires": []
    },
    {
        "id": "6d9ad526.84c38c",
        "type": "change",
        "z": "a5880810.397518",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list.0.main.pressure",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 600,
        "wires": [
            [
                "a4718e30.028c5",
                "18ff61d7.90485e"
            ]
        ]
    },
    {
        "id": "29eedf4e.273f3",
        "type": "ui_text",
        "z": "a5880810.397518",
        "group": "9c2179ae.822ff8",
        "order": 12,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Wind Speed (in m/sec)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 780,
        "y": 680,
        "wires": []
    },
    {
        "id": "7e6e2752.23d948",
        "type": "change",
        "z": "a5880810.397518",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list.0.wind.speed",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 680,
        "wires": [
            [
                "29eedf4e.273f3",
                "c44a37a.99ed2c8"
            ]
        ]
    },
    {
        "id": "d7e3b6a7.e0bbf8",
        "type": "ui_text",
        "z": "a5880810.397518",
        "group": "9c2179ae.822ff8",
        "order": 13,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Wind Direction (in °)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 620,
        "y": 760,
        "wires": []
    },
    {
        "id": "6889ca86.67f804",
        "type": "change",
        "z": "a5880810.397518",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list.0.wind.deg",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 760,
        "wires": [
            [
                "d7e3b6a7.e0bbf8",
                "2fffabc5.741e64"
            ]
        ]
    },
    {
        "id": "e7e79163.0832",
        "type": "function",
        "z": "a5880810.397518",
        "name": "Conversion",
        "func": "msg.payload = Math.round(msg.payload - 273.15);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 730,
        "y": 380,
        "wires": [
            [
                "e089a6db.8d3ff8",
                "41b750f1.ccd7e",
                "bc06b7a9.723678"
            ]
        ]
    },
    {
        "id": "e089a6db.8d3ff8",
        "type": "ui_gauge",
        "z": "a5880810.397518",
        "name": "",
        "group": "9c2179ae.822ff8",
        "order": 4,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 930,
        "y": 380,
        "wires": []
    },
    {
        "id": "fa50b28d.f0a8b",
        "type": "ui_gauge",
        "z": "a5880810.397518",
        "name": "",
        "group": "9c2179ae.822ff8",
        "order": 5,
        "width": 4,
        "height": 4,
        "gtype": "donut",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 710,
        "y": 480,
        "wires": []
    },
    {
        "id": "2fffabc5.741e64",
        "type": "ui_gauge",
        "z": "a5880810.397518",
        "name": "",
        "group": "9c2179ae.822ff8",
        "order": 8,
        "width": 4,
        "height": 4,
        "gtype": "compass",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 560,
        "y": 720,
        "wires": []
    },
    {
        "id": "18ff61d7.90485e",
        "type": "ui_gauge",
        "z": "a5880810.397518",
        "name": "",
        "group": "9c2179ae.822ff8",
        "order": 6,
        "width": 4,
        "height": 4,
        "gtype": "compass",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "10000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 680,
        "y": 560,
        "wires": []
    },
    {
        "id": "c44a37a.99ed2c8",
        "type": "ui_gauge",
        "z": "a5880810.397518",
        "name": "",
        "group": "9c2179ae.822ff8",
        "order": 7,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "10",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 610,
        "y": 640,
        "wires": []
    },
    {
        "id": "fe699c73.9b2ef",
        "type": "http request",
        "z": "a5880810.397518",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "http://api.worldweatheronline.com/premium/v1/weather.ashx?key=5934f101ce004c8a865163946202406&q=28.7041,77.1025&num_of_days=1&tp=3&format=json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 370,
        "y": 1000,
        "wires": [
            [
                "8248dc04.e578",
                "62ed433.d62a2bc",
                "e5dfd126.70977",
                "573c7047.71065",
                "bedf8bc2.eb54b8",
                "b264ada9.da978"
            ]
        ]
    },
    {
        "id": "98cb7cb3.2795",
        "type": "inject",
        "z": "a5880810.397518",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 900,
        "wires": [
            [
                "fe699c73.9b2ef"
            ]
        ]
    },
    {
        "id": "b264ada9.da978",
        "type": "debug",
        "z": "a5880810.397518",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 670,
        "y": 960,
        "wires": []
    },
    {
        "id": "e9bd4786.3b4a78",
        "type": "ui_text",
        "z": "a5880810.397518",
        "group": "16db05d7.8e39ea",
        "order": 9,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Temperature (in °C)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 930,
        "y": 1160,
        "wires": []
    },
    {
        "id": "74dacba.2188d34",
        "type": "ui_text",
        "z": "a5880810.397518",
        "group": "16db05d7.8e39ea",
        "order": 10,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Humidity (in %)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 800,
        "y": 1240,
        "wires": []
    },
    {
        "id": "8248dc04.e578",
        "type": "change",
        "z": "a5880810.397518",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.data.current_condition.0.humidity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 1240,
        "wires": [
            [
                "74dacba.2188d34",
                "692c89bc.809f48"
            ]
        ]
    },
    {
        "id": "9d082b31.4f42c8",
        "type": "ui_text",
        "z": "a5880810.397518",
        "group": "16db05d7.8e39ea",
        "order": 11,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Pressure (in hPa)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 790,
        "y": 1320,
        "wires": []
    },
    {
        "id": "62ed433.d62a2bc",
        "type": "change",
        "z": "a5880810.397518",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.data.current_condition.0.pressure",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 1320,
        "wires": [
            [
                "9d082b31.4f42c8",
                "e330270.77e9dd8"
            ]
        ]
    },
    {
        "id": "70da05d8.88947c",
        "type": "ui_text",
        "z": "a5880810.397518",
        "group": "16db05d7.8e39ea",
        "order": 12,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Wind Speed (in m/sec)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 860,
        "y": 1420,
        "wires": []
    },
    {
        "id": "e5dfd126.70977",
        "type": "change",
        "z": "a5880810.397518",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.data.current_condition.0.windspeedKmph",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 1400,
        "wires": [
            [
                "6d94dc1d.5720d4"
            ]
        ]
    },
    {
        "id": "9187ba09.72c0c8",
        "type": "ui_text",
        "z": "a5880810.397518",
        "group": "16db05d7.8e39ea",
        "order": 13,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Wind Direction (in °)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 640,
        "y": 1480,
        "wires": []
    },
    {
        "id": "573c7047.71065",
        "type": "change",
        "z": "a5880810.397518",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.data.current_condition.0.winddirDegree",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 1480,
        "wires": [
            [
                "9187ba09.72c0c8",
                "50dc994f.bc2068",
                "87342759.55fdc8"
            ]
        ]
    },
    {
        "id": "692c89bc.809f48",
        "type": "ui_gauge",
        "z": "a5880810.397518",
        "name": "",
        "group": "16db05d7.8e39ea",
        "order": 5,
        "width": 4,
        "height": 4,
        "gtype": "donut",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 730,
        "y": 1200,
        "wires": []
    },
    {
        "id": "50dc994f.bc2068",
        "type": "ui_gauge",
        "z": "a5880810.397518",
        "name": "",
        "group": "16db05d7.8e39ea",
        "order": 8,
        "width": 4,
        "height": 4,
        "gtype": "compass",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 600,
        "y": 1440,
        "wires": []
    },
    {
        "id": "e330270.77e9dd8",
        "type": "ui_gauge",
        "z": "a5880810.397518",
        "name": "",
        "group": "16db05d7.8e39ea",
        "order": 6,
        "width": 4,
        "height": 4,
        "gtype": "compass",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "10000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 700,
        "y": 1280,
        "wires": []
    },
    {
        "id": "b05b31dd.b8afe",
        "type": "ui_gauge",
        "z": "a5880810.397518",
        "name": "",
        "group": "16db05d7.8e39ea",
        "order": 7,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "10",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 850,
        "y": 1360,
        "wires": []
    },
    {
        "id": "cb9f3282.f23d6",
        "type": "comment",
        "z": "a5880810.397518",
        "name": "HTTP Request Via Weather API (FORECAST)",
        "info": "",
        "x": 590,
        "y": 860,
        "wires": []
    },
    {
        "id": "bedf8bc2.eb54b8",
        "type": "change",
        "z": "a5880810.397518",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.data.current_condition.0.temp_C",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 1140,
        "wires": [
            [
                "e9bd4786.3b4a78",
                "9e7615c8.2a7b18",
                "75e8aceb.0403c4"
            ]
        ]
    },
    {
        "id": "9e7615c8.2a7b18",
        "type": "ui_gauge",
        "z": "a5880810.397518",
        "name": "",
        "group": "16db05d7.8e39ea",
        "order": 4,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 830,
        "y": 1060,
        "wires": []
    },
    {
        "id": "6d94dc1d.5720d4",
        "type": "function",
        "z": "a5880810.397518",
        "name": "Conversion",
        "func": "msg.payload = Math.round(msg.payload * 0.2778);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 1380,
        "wires": [
            [
                "b05b31dd.b8afe",
                "70da05d8.88947c"
            ]
        ]
    },
    {
        "id": "51eee0ea.e234e",
        "type": "http request",
        "z": "9850183c.f376e8",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "api.openweathermap.org/data/2.5/forecast?q=delhi&appid=f044fa317e908c0821619d9509699c2c",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 370,
        "y": 160,
        "wires": [
            [
                "ed5d1f47.16f3f",
                "17ffc799.56eae8",
                "184778f8.abd897",
                "43631394.bbd8cc",
                "76409cb6.7d2b24",
                "51a42d40.cf65a4"
            ]
        ]
    },
    {
        "id": "a05a31b1.c698c",
        "type": "inject",
        "z": "9850183c.f376e8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 60,
        "wires": [
            [
                "51eee0ea.e234e"
            ]
        ]
    },
    {
        "id": "51a42d40.cf65a4",
        "type": "debug",
        "z": "9850183c.f376e8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 680,
        "y": 120,
        "wires": []
    },
    {
        "id": "a1d21aa0.b72b58",
        "type": "ui_text",
        "z": "9850183c.f376e8",
        "group": "cd0e1980.917128",
        "order": 6,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Temperature (in °C)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1010,
        "y": 300,
        "wires": []
    },
    {
        "id": "ef0d0a3f.077e88",
        "type": "ui_text",
        "z": "9850183c.f376e8",
        "group": "cd0e1980.917128",
        "order": 7,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Humidity (in %)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 800,
        "y": 400,
        "wires": []
    },
    {
        "id": "ed5d1f47.16f3f",
        "type": "change",
        "z": "9850183c.f376e8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list.0.main.humidity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 400,
        "wires": [
            [
                "ef0d0a3f.077e88",
                "cdc6bc39.2f227"
            ]
        ]
    },
    {
        "id": "3695c06a.55124",
        "type": "ui_text",
        "z": "9850183c.f376e8",
        "group": "cd0e1980.917128",
        "order": 8,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Pressure (in hPa)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 790,
        "y": 480,
        "wires": []
    },
    {
        "id": "17ffc799.56eae8",
        "type": "change",
        "z": "9850183c.f376e8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list.0.main.pressure",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 480,
        "wires": [
            [
                "3695c06a.55124",
                "a66f254f.cc8b28"
            ]
        ]
    },
    {
        "id": "745a9eaa.ecb93",
        "type": "ui_text",
        "z": "9850183c.f376e8",
        "group": "cd0e1980.917128",
        "order": 9,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Wind Speed (in m/sec)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 860,
        "y": 580,
        "wires": []
    },
    {
        "id": "184778f8.abd897",
        "type": "change",
        "z": "9850183c.f376e8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list.0.wind.speed",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 560,
        "wires": [
            [
                "6d0cd60f.7938c8",
                "745a9eaa.ecb93"
            ]
        ]
    },
    {
        "id": "92dbb3fd.f9eba",
        "type": "ui_text",
        "z": "9850183c.f376e8",
        "group": "cd0e1980.917128",
        "order": 10,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Wind Direction (in °)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 640,
        "y": 640,
        "wires": []
    },
    {
        "id": "43631394.bbd8cc",
        "type": "change",
        "z": "9850183c.f376e8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list.0.wind.deg",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 640,
        "wires": [
            [
                "92dbb3fd.f9eba",
                "cc10e485.9e07a8"
            ]
        ]
    },
    {
        "id": "cdc6bc39.2f227",
        "type": "ui_gauge",
        "z": "9850183c.f376e8",
        "name": "",
        "group": "cd0e1980.917128",
        "order": 2,
        "width": 4,
        "height": 4,
        "gtype": "donut",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 730,
        "y": 360,
        "wires": []
    },
    {
        "id": "cc10e485.9e07a8",
        "type": "ui_gauge",
        "z": "9850183c.f376e8",
        "name": "",
        "group": "cd0e1980.917128",
        "order": 5,
        "width": 4,
        "height": 4,
        "gtype": "compass",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 600,
        "y": 600,
        "wires": []
    },
    {
        "id": "a66f254f.cc8b28",
        "type": "ui_gauge",
        "z": "9850183c.f376e8",
        "name": "",
        "group": "cd0e1980.917128",
        "order": 3,
        "width": 4,
        "height": 4,
        "gtype": "compass",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "10000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 700,
        "y": 440,
        "wires": []
    },
    {
        "id": "6d0cd60f.7938c8",
        "type": "ui_gauge",
        "z": "9850183c.f376e8",
        "name": "",
        "group": "cd0e1980.917128",
        "order": 4,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "10",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 850,
        "y": 520,
        "wires": []
    },
    {
        "id": "41b5e916.6b4a08",
        "type": "comment",
        "z": "9850183c.f376e8",
        "name": "HTTP Request Via Weather API (DAY 1)",
        "info": "",
        "x": 580,
        "y": 20,
        "wires": []
    },
    {
        "id": "76409cb6.7d2b24",
        "type": "change",
        "z": "9850183c.f376e8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list.0.main.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 300,
        "wires": [
            [
                "99de1cf4.ddb5d"
            ]
        ]
    },
    {
        "id": "3e7c2613.d4147a",
        "type": "ui_gauge",
        "z": "9850183c.f376e8",
        "name": "",
        "group": "cd0e1980.917128",
        "order": 1,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 990,
        "y": 220,
        "wires": []
    },
    {
        "id": "99de1cf4.ddb5d",
        "type": "function",
        "z": "9850183c.f376e8",
        "name": "Conversion",
        "func": "msg.payload = Math.round(msg.payload - 273.15);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 770,
        "y": 260,
        "wires": [
            [
                "a1d21aa0.b72b58",
                "3e7c2613.d4147a"
            ]
        ]
    },
    {
        "id": "bae23c17.4733e",
        "type": "http request",
        "z": "9850183c.f376e8",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "api.openweathermap.org/data/2.5/forecast?q=delhi&appid=f044fa317e908c0821619d9509699c2c",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 430,
        "y": 880,
        "wires": [
            [
                "8a178028.41f09",
                "e33d5f42.d3dc8",
                "df111960.635c88",
                "7cd1b946.a91d08",
                "909613ab.df10d",
                "4faf132c.b956fc"
            ]
        ]
    },
    {
        "id": "6349c0fe.dfa86",
        "type": "inject",
        "z": "9850183c.f376e8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 190,
        "y": 780,
        "wires": [
            [
                "bae23c17.4733e"
            ]
        ]
    },
    {
        "id": "4faf132c.b956fc",
        "type": "debug",
        "z": "9850183c.f376e8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 740,
        "y": 840,
        "wires": []
    },
    {
        "id": "90e3b178.7a05e",
        "type": "ui_text",
        "z": "9850183c.f376e8",
        "group": "9bee8b02.628888",
        "order": 6,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Temperature (in °C)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1070,
        "y": 1020,
        "wires": []
    },
    {
        "id": "91279ad.b456768",
        "type": "ui_text",
        "z": "9850183c.f376e8",
        "group": "9bee8b02.628888",
        "order": 7,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Humidity (in %)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 860,
        "y": 1120,
        "wires": []
    },
    {
        "id": "8a178028.41f09",
        "type": "change",
        "z": "9850183c.f376e8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list.1.main.humidity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 1120,
        "wires": [
            [
                "91279ad.b456768",
                "d5f10f54.0f704"
            ]
        ]
    },
    {
        "id": "c8717297.2124",
        "type": "ui_text",
        "z": "9850183c.f376e8",
        "group": "9bee8b02.628888",
        "order": 8,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Pressure (in hPa)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 850,
        "y": 1200,
        "wires": []
    },
    {
        "id": "e33d5f42.d3dc8",
        "type": "change",
        "z": "9850183c.f376e8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list.1.main.pressure",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 1200,
        "wires": [
            [
                "c8717297.2124",
                "ce481fc0.6a962"
            ]
        ]
    },
    {
        "id": "8c0d474e.f6f0b8",
        "type": "ui_text",
        "z": "9850183c.f376e8",
        "group": "9bee8b02.628888",
        "order": 9,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Wind Speed (in m/sec)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 920,
        "y": 1300,
        "wires": []
    },
    {
        "id": "df111960.635c88",
        "type": "change",
        "z": "9850183c.f376e8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list.1.wind.speed",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 1280,
        "wires": [
            [
                "80e6636a.95373",
                "8c0d474e.f6f0b8"
            ]
        ]
    },
    {
        "id": "d238a8.9bcc2758",
        "type": "ui_text",
        "z": "9850183c.f376e8",
        "group": "9bee8b02.628888",
        "order": 10,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Wind Direction (in °)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 700,
        "y": 1360,
        "wires": []
    },
    {
        "id": "7cd1b946.a91d08",
        "type": "change",
        "z": "9850183c.f376e8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list.1.wind.deg",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 1360,
        "wires": [
            [
                "d238a8.9bcc2758",
                "fba568a5.0f6eb8"
            ]
        ]
    },
    {
        "id": "d5f10f54.0f704",
        "type": "ui_gauge",
        "z": "9850183c.f376e8",
        "name": "",
        "group": "9bee8b02.628888",
        "order": 2,
        "width": 4,
        "height": 4,
        "gtype": "donut",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 790,
        "y": 1080,
        "wires": []
    },
    {
        "id": "fba568a5.0f6eb8",
        "type": "ui_gauge",
        "z": "9850183c.f376e8",
        "name": "",
        "group": "9bee8b02.628888",
        "order": 5,
        "width": 4,
        "height": 4,
        "gtype": "compass",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 660,
        "y": 1320,
        "wires": []
    },
    {
        "id": "ce481fc0.6a962",
        "type": "ui_gauge",
        "z": "9850183c.f376e8",
        "name": "",
        "group": "9bee8b02.628888",
        "order": 3,
        "width": 4,
        "height": 4,
        "gtype": "compass",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "10000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 760,
        "y": 1160,
        "wires": []
    },
    {
        "id": "80e6636a.95373",
        "type": "ui_gauge",
        "z": "9850183c.f376e8",
        "name": "",
        "group": "9bee8b02.628888",
        "order": 4,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "10",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 910,
        "y": 1240,
        "wires": []
    },
    {
        "id": "c5c78117.0dee1",
        "type": "comment",
        "z": "9850183c.f376e8",
        "name": "HTTP Request Via Weather API ( DAY 1)",
        "info": "",
        "x": 640,
        "y": 740,
        "wires": []
    },
    {
        "id": "909613ab.df10d",
        "type": "change",
        "z": "9850183c.f376e8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list.1.main.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 1020,
        "wires": [
            [
                "2b926e75.0702b2"
            ]
        ]
    },
    {
        "id": "811d3fa9.17f1f",
        "type": "ui_gauge",
        "z": "9850183c.f376e8",
        "name": "",
        "group": "9bee8b02.628888",
        "order": 1,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1050,
        "y": 940,
        "wires": []
    },
    {
        "id": "2b926e75.0702b2",
        "type": "function",
        "z": "9850183c.f376e8",
        "name": "Conversion",
        "func": "msg.payload = Math.round(msg.payload - 273.15);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 830,
        "y": 980,
        "wires": [
            [
                "90e3b178.7a05e",
                "811d3fa9.17f1f"
            ]
        ]
    },
    {
        "id": "75e8aceb.0403c4",
        "type": "ui_template",
        "z": "a5880810.397518",
        "group": "16db05d7.8e39ea",
        "name": "",
        "order": 2,
        "width": 13,
        "height": 1,
        "format": "<div style=\"font-size:22px; font-weight:bold; color:white; align:centre;\">\n    <p align=\"centre\">Weather Forecast Logo: <i class=\"wi wi-owm-03d\" style=\"font-size:30px; margin-left:30px; color:yellow\"></i><i class=\"wi wi-owm-04n\" style=\"font-size:30px; margin-left:30px; color:#944dff\"></i><i class=\"wi wi-owm-13n\" style=\"font-size:30px; margin-left:30px; color:#33ccff\"></i></p>\n</div>\n",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 820,
        "y": 1100,
        "wires": [
            [
                "e9bd4786.3b4a78"
            ]
        ]
    },
    {
        "id": "87342759.55fdc8",
        "type": "ui_template",
        "z": "a5880810.397518",
        "group": "16db05d7.8e39ea",
        "name": "",
        "order": 14,
        "width": 20,
        "height": 2,
        "format": "\n\n \n<html>  \n    \n<head>\n    <script>\n        var a = {{msg.payload.object.city.sunrise}};\n        document.getElementById(\"sunrise\").innerHTML = \"a\";\n        print(a);\n    </script>\n</head>\n<div>\n    <table style=\"width:100%; border: 2px solid white; background-color:black; text-align:center; font-size:22px; padding:5px;\">\n  <tr style=\"background-color:grey; color:black;\">\n    <th>Sunrise</th>\n    <th>Solar Noon</th>\n    <th>Sunset</th>\n    <th>Visibility</th>\n    <th>Precipitation</th>\n  </tr>\n  <tr>\n    <td>5:28:05 A.M.</td>\n    <td>12:25:05 P.M.</td>\n    <td>7:48:55 P.M.</td>\n    <td>4.000305 K.M.</td>\n    <td>10-15%</td>\n  </tr>\n</table>\n</div>\n</html>  ",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 480,
        "y": 1560,
        "wires": [
            [
                "9187ba09.72c0c8"
            ]
        ]
    },
    {
        "id": "bc06b7a9.723678",
        "type": "ui_template",
        "z": "a5880810.397518",
        "group": "9c2179ae.822ff8",
        "name": "",
        "order": 2,
        "width": 13,
        "height": 1,
        "format": "<div style=\"font-size:22px; font-weight:bold; color:white; align:centre;\">\n    <p align=\"centre\">Weather Forecast Logo: <i class=\"wi wi-owm-01d\" style=\"font-size:30px; margin-left:30px; color:yellow\"></i><i class=\"wi wi-owm-04d\" style=\"font-size:30px; margin-left:30px; color:#33ccff\"></i><i class=\"wi wi-owm-01n\" style=\"font-size:30px; margin-left:30px; color:#944dff\"></i></p>\n</div>\n",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 820,
        "y": 280,
        "wires": [
            [
                "41b750f1.ccd7e"
            ]
        ]
    },
    {
        "id": "b062cde3.0375f",
        "type": "http request",
        "z": "9850183c.f376e8",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "api.openweathermap.org/data/2.5/forecast?q=delhi&appid=f044fa317e908c0821619d9509699c2c",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 470,
        "y": 1620,
        "wires": [
            [
                "ae0fb327.43175",
                "a79c03f5.9114f",
                "e1b74d53.f3a43",
                "363821a0.15b82e",
                "acf3f199.fa30c",
                "ac500e99.0b2f9"
            ]
        ]
    },
    {
        "id": "50690cbd.705a84",
        "type": "inject",
        "z": "9850183c.f376e8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 230,
        "y": 1520,
        "wires": [
            [
                "b062cde3.0375f"
            ]
        ]
    },
    {
        "id": "ac500e99.0b2f9",
        "type": "debug",
        "z": "9850183c.f376e8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 780,
        "y": 1580,
        "wires": []
    },
    {
        "id": "6810a728.eba5c8",
        "type": "ui_text",
        "z": "9850183c.f376e8",
        "group": "29e4f913.154a86",
        "order": 6,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Temperature (in °C)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1110,
        "y": 1760,
        "wires": []
    },
    {
        "id": "55679922.f93db8",
        "type": "ui_text",
        "z": "9850183c.f376e8",
        "group": "29e4f913.154a86",
        "order": 7,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Humidity (in %)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 900,
        "y": 1860,
        "wires": []
    },
    {
        "id": "ae0fb327.43175",
        "type": "change",
        "z": "9850183c.f376e8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list.2.main.humidity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 1860,
        "wires": [
            [
                "55679922.f93db8",
                "1f332a63.24b676"
            ]
        ]
    },
    {
        "id": "f30fc610.dc1348",
        "type": "ui_text",
        "z": "9850183c.f376e8",
        "group": "29e4f913.154a86",
        "order": 8,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Pressure (in hPa)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 890,
        "y": 1940,
        "wires": []
    },
    {
        "id": "a79c03f5.9114f",
        "type": "change",
        "z": "9850183c.f376e8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list.2.main.pressure",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 1940,
        "wires": [
            [
                "f30fc610.dc1348",
                "effcf6af.d0d6e8"
            ]
        ]
    },
    {
        "id": "efc1c776.b49018",
        "type": "ui_text",
        "z": "9850183c.f376e8",
        "group": "29e4f913.154a86",
        "order": 9,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Wind Speed (in m/sec)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 960,
        "y": 2040,
        "wires": []
    },
    {
        "id": "e1b74d53.f3a43",
        "type": "change",
        "z": "9850183c.f376e8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list.2.wind.speed",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 2020,
        "wires": [
            [
                "250282dc.7e6fee",
                "efc1c776.b49018"
            ]
        ]
    },
    {
        "id": "182ae82d.a09f28",
        "type": "ui_text",
        "z": "9850183c.f376e8",
        "group": "29e4f913.154a86",
        "order": 10,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Wind Direction (in °)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 740,
        "y": 2100,
        "wires": []
    },
    {
        "id": "363821a0.15b82e",
        "type": "change",
        "z": "9850183c.f376e8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list.2.wind.deg",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 2100,
        "wires": [
            [
                "182ae82d.a09f28",
                "a72fe91c.a2bcd8"
            ]
        ]
    },
    {
        "id": "1f332a63.24b676",
        "type": "ui_gauge",
        "z": "9850183c.f376e8",
        "name": "",
        "group": "29e4f913.154a86",
        "order": 2,
        "width": 4,
        "height": 4,
        "gtype": "donut",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 830,
        "y": 1820,
        "wires": []
    },
    {
        "id": "a72fe91c.a2bcd8",
        "type": "ui_gauge",
        "z": "9850183c.f376e8",
        "name": "",
        "group": "29e4f913.154a86",
        "order": 5,
        "width": 4,
        "height": 4,
        "gtype": "compass",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 700,
        "y": 2060,
        "wires": []
    },
    {
        "id": "effcf6af.d0d6e8",
        "type": "ui_gauge",
        "z": "9850183c.f376e8",
        "name": "",
        "group": "29e4f913.154a86",
        "order": 3,
        "width": 4,
        "height": 4,
        "gtype": "compass",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "10000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 800,
        "y": 1900,
        "wires": []
    },
    {
        "id": "250282dc.7e6fee",
        "type": "ui_gauge",
        "z": "9850183c.f376e8",
        "name": "",
        "group": "29e4f913.154a86",
        "order": 4,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "10",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 950,
        "y": 1980,
        "wires": []
    },
    {
        "id": "4522d120.745d6",
        "type": "comment",
        "z": "9850183c.f376e8",
        "name": "HTTP Request Via Weather API ( DAY 1)",
        "info": "",
        "x": 680,
        "y": 1480,
        "wires": []
    },
    {
        "id": "acf3f199.fa30c",
        "type": "change",
        "z": "9850183c.f376e8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list.2.main.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 1760,
        "wires": [
            [
                "5d6d2966.0d9f78"
            ]
        ]
    },
    {
        "id": "432b2956.b1cef8",
        "type": "ui_gauge",
        "z": "9850183c.f376e8",
        "name": "",
        "group": "29e4f913.154a86",
        "order": 1,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1090,
        "y": 1680,
        "wires": []
    },
    {
        "id": "5d6d2966.0d9f78",
        "type": "function",
        "z": "9850183c.f376e8",
        "name": "Conversion",
        "func": "msg.payload = Math.round(msg.payload - 273.15);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 870,
        "y": 1720,
        "wires": [
            [
                "6810a728.eba5c8",
                "432b2956.b1cef8"
            ]
        ]
    },
    {
        "id": "d47e5f2d.1b6c4",
        "type": "http request",
        "z": "9850183c.f376e8",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "api.openweathermap.org/data/2.5/forecast?q=delhi&appid=f044fa317e908c0821619d9509699c2c",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 470,
        "y": 2320,
        "wires": [
            [
                "6ebcf7ef.e1fe28",
                "42d7f4e3.4e667c",
                "873b330a.eb8d5",
                "7d19c4c0.f601bc",
                "626d2637.719fd8",
                "23545ca7.dff214"
            ]
        ]
    },
    {
        "id": "a4ab98f2.d0d8a8",
        "type": "inject",
        "z": "9850183c.f376e8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 230,
        "y": 2220,
        "wires": [
            [
                "d47e5f2d.1b6c4"
            ]
        ]
    },
    {
        "id": "23545ca7.dff214",
        "type": "debug",
        "z": "9850183c.f376e8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 780,
        "y": 2280,
        "wires": []
    },
    {
        "id": "5eb8c5b3.2fcb5c",
        "type": "ui_text",
        "z": "9850183c.f376e8",
        "group": "a42b06e7.db9ab8",
        "order": 6,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Temperature (in °C)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1110,
        "y": 2460,
        "wires": []
    },
    {
        "id": "c7ac2374.b95ce",
        "type": "ui_text",
        "z": "9850183c.f376e8",
        "group": "a42b06e7.db9ab8",
        "order": 7,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Humidity (in %)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 900,
        "y": 2560,
        "wires": []
    },
    {
        "id": "6ebcf7ef.e1fe28",
        "type": "change",
        "z": "9850183c.f376e8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list.3.main.humidity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 2560,
        "wires": [
            [
                "c7ac2374.b95ce",
                "613a090d.105bc8"
            ]
        ]
    },
    {
        "id": "5d2385e9.08e83c",
        "type": "ui_text",
        "z": "9850183c.f376e8",
        "group": "a42b06e7.db9ab8",
        "order": 8,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Pressure (in hPa)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 890,
        "y": 2640,
        "wires": []
    },
    {
        "id": "42d7f4e3.4e667c",
        "type": "change",
        "z": "9850183c.f376e8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list.3.main.pressure",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 2640,
        "wires": [
            [
                "5d2385e9.08e83c",
                "baef912e.77854"
            ]
        ]
    },
    {
        "id": "40d5a2bf.02e30c",
        "type": "ui_text",
        "z": "9850183c.f376e8",
        "group": "a42b06e7.db9ab8",
        "order": 9,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Wind Speed (in m/sec)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 960,
        "y": 2740,
        "wires": []
    },
    {
        "id": "873b330a.eb8d5",
        "type": "change",
        "z": "9850183c.f376e8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list.3.wind.speed",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 2720,
        "wires": [
            [
                "247ccda5.9aa952",
                "40d5a2bf.02e30c"
            ]
        ]
    },
    {
        "id": "9a1b74bc.50f238",
        "type": "ui_text",
        "z": "9850183c.f376e8",
        "group": "a42b06e7.db9ab8",
        "order": 10,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Wind Direction (in °)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 740,
        "y": 2800,
        "wires": []
    },
    {
        "id": "7d19c4c0.f601bc",
        "type": "change",
        "z": "9850183c.f376e8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list.3.wind.deg",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 2800,
        "wires": [
            [
                "9a1b74bc.50f238",
                "4cccb4a2.92220c"
            ]
        ]
    },
    {
        "id": "613a090d.105bc8",
        "type": "ui_gauge",
        "z": "9850183c.f376e8",
        "name": "",
        "group": "a42b06e7.db9ab8",
        "order": 2,
        "width": 4,
        "height": 4,
        "gtype": "donut",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 830,
        "y": 2520,
        "wires": []
    },
    {
        "id": "4cccb4a2.92220c",
        "type": "ui_gauge",
        "z": "9850183c.f376e8",
        "name": "",
        "group": "a42b06e7.db9ab8",
        "order": 5,
        "width": 4,
        "height": 4,
        "gtype": "compass",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 700,
        "y": 2760,
        "wires": []
    },
    {
        "id": "baef912e.77854",
        "type": "ui_gauge",
        "z": "9850183c.f376e8",
        "name": "",
        "group": "a42b06e7.db9ab8",
        "order": 3,
        "width": 4,
        "height": 4,
        "gtype": "compass",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "10000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 800,
        "y": 2600,
        "wires": []
    },
    {
        "id": "247ccda5.9aa952",
        "type": "ui_gauge",
        "z": "9850183c.f376e8",
        "name": "",
        "group": "a42b06e7.db9ab8",
        "order": 4,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "10",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 950,
        "y": 2680,
        "wires": []
    },
    {
        "id": "5d7bd188.7408c",
        "type": "comment",
        "z": "9850183c.f376e8",
        "name": "HTTP Request Via Weather API ( DAY 1)",
        "info": "",
        "x": 680,
        "y": 2180,
        "wires": []
    },
    {
        "id": "626d2637.719fd8",
        "type": "change",
        "z": "9850183c.f376e8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list.3.main.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 2460,
        "wires": [
            [
                "3c75830.3fa1e7e"
            ]
        ]
    },
    {
        "id": "760bc092.c445a",
        "type": "ui_gauge",
        "z": "9850183c.f376e8",
        "name": "",
        "group": "a42b06e7.db9ab8",
        "order": 1,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1090,
        "y": 2380,
        "wires": []
    },
    {
        "id": "3c75830.3fa1e7e",
        "type": "function",
        "z": "9850183c.f376e8",
        "name": "Conversion",
        "func": "msg.payload = Math.round(msg.payload - 273.15);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 870,
        "y": 2420,
        "wires": [
            [
                "5eb8c5b3.2fcb5c",
                "760bc092.c445a"
            ]
        ]
    },
    {
        "id": "32e50fcc.c537a",
        "type": "http request",
        "z": "9850183c.f376e8",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "api.openweathermap.org/data/2.5/forecast?q=delhi&appid=f044fa317e908c0821619d9509699c2c",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 510,
        "y": 3060,
        "wires": [
            [
                "fb5ed512.978658",
                "9e11afa5.16d36",
                "adbaed59.472bb",
                "922e5d63.911b1",
                "6ee6be97.e0b08",
                "8621bd54.3ae3e"
            ]
        ]
    },
    {
        "id": "1d2427ae.6c2bf8",
        "type": "inject",
        "z": "9850183c.f376e8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 270,
        "y": 2960,
        "wires": [
            [
                "32e50fcc.c537a"
            ]
        ]
    },
    {
        "id": "8621bd54.3ae3e",
        "type": "debug",
        "z": "9850183c.f376e8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 820,
        "y": 3020,
        "wires": []
    },
    {
        "id": "2564dd7d.9caf62",
        "type": "ui_text",
        "z": "9850183c.f376e8",
        "group": "f3989323.d2ccb",
        "order": 6,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Temperature (in °C)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1150,
        "y": 3200,
        "wires": []
    },
    {
        "id": "577343e9.15718c",
        "type": "ui_text",
        "z": "9850183c.f376e8",
        "group": "f3989323.d2ccb",
        "order": 7,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Humidity (in %)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 940,
        "y": 3300,
        "wires": []
    },
    {
        "id": "fb5ed512.978658",
        "type": "change",
        "z": "9850183c.f376e8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list.4.main.humidity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 3300,
        "wires": [
            [
                "577343e9.15718c",
                "f283f3dd.5ec7f"
            ]
        ]
    },
    {
        "id": "b7152e36.bac89",
        "type": "ui_text",
        "z": "9850183c.f376e8",
        "group": "f3989323.d2ccb",
        "order": 8,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Pressure (in hPa)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 930,
        "y": 3380,
        "wires": []
    },
    {
        "id": "9e11afa5.16d36",
        "type": "change",
        "z": "9850183c.f376e8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list.4.main.pressure",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 3380,
        "wires": [
            [
                "b7152e36.bac89",
                "c447e24d.35a0f"
            ]
        ]
    },
    {
        "id": "9fd1316e.0b778",
        "type": "ui_text",
        "z": "9850183c.f376e8",
        "group": "f3989323.d2ccb",
        "order": 9,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Wind Speed (in m/sec)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1000,
        "y": 3480,
        "wires": []
    },
    {
        "id": "adbaed59.472bb",
        "type": "change",
        "z": "9850183c.f376e8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list.4.wind.speed",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 3460,
        "wires": [
            [
                "e6902664.f7e4d8",
                "9fd1316e.0b778"
            ]
        ]
    },
    {
        "id": "8e050579.4f7b98",
        "type": "ui_text",
        "z": "9850183c.f376e8",
        "group": "f3989323.d2ccb",
        "order": 10,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Wind Direction (in °)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 780,
        "y": 3540,
        "wires": []
    },
    {
        "id": "922e5d63.911b1",
        "type": "change",
        "z": "9850183c.f376e8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list.4.wind.deg",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 3540,
        "wires": [
            [
                "8e050579.4f7b98",
                "10b894e1.195bcb"
            ]
        ]
    },
    {
        "id": "f283f3dd.5ec7f",
        "type": "ui_gauge",
        "z": "9850183c.f376e8",
        "name": "",
        "group": "f3989323.d2ccb",
        "order": 2,
        "width": 4,
        "height": 4,
        "gtype": "donut",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 870,
        "y": 3260,
        "wires": []
    },
    {
        "id": "10b894e1.195bcb",
        "type": "ui_gauge",
        "z": "9850183c.f376e8",
        "name": "",
        "group": "f3989323.d2ccb",
        "order": 5,
        "width": 4,
        "height": 4,
        "gtype": "compass",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 740,
        "y": 3500,
        "wires": []
    },
    {
        "id": "c447e24d.35a0f",
        "type": "ui_gauge",
        "z": "9850183c.f376e8",
        "name": "",
        "group": "f3989323.d2ccb",
        "order": 3,
        "width": 4,
        "height": 4,
        "gtype": "compass",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "10000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 840,
        "y": 3340,
        "wires": []
    },
    {
        "id": "e6902664.f7e4d8",
        "type": "ui_gauge",
        "z": "9850183c.f376e8",
        "name": "",
        "group": "f3989323.d2ccb",
        "order": 4,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "10",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 990,
        "y": 3420,
        "wires": []
    },
    {
        "id": "c3d141c2.49583",
        "type": "comment",
        "z": "9850183c.f376e8",
        "name": "HTTP Request Via Weather API ( DAY 1)",
        "info": "",
        "x": 720,
        "y": 2920,
        "wires": []
    },
    {
        "id": "6ee6be97.e0b08",
        "type": "change",
        "z": "9850183c.f376e8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list.4.main.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 3200,
        "wires": [
            [
                "8ea3e8cf.dd4958"
            ]
        ]
    },
    {
        "id": "87f0d456.070a28",
        "type": "ui_gauge",
        "z": "9850183c.f376e8",
        "name": "",
        "group": "f3989323.d2ccb",
        "order": 1,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1130,
        "y": 3120,
        "wires": []
    },
    {
        "id": "8ea3e8cf.dd4958",
        "type": "function",
        "z": "9850183c.f376e8",
        "name": "Conversion",
        "func": "msg.payload = Math.round(msg.payload - 273.15);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 910,
        "y": 3160,
        "wires": [
            [
                "2564dd7d.9caf62",
                "87f0d456.070a28"
            ]
        ]
    },
    {
        "id": "ddf036cc.f347b8",
        "type": "http request",
        "z": "9850183c.f376e8",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "api.openweathermap.org/data/2.5/forecast?q=delhi&appid=f044fa317e908c0821619d9509699c2c",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 490,
        "y": 3800,
        "wires": [
            [
                "e235f9b0.df88b8",
                "5f5a9d49.303344",
                "d7b642ee.daa6f",
                "c9d8c5dd.490558",
                "ff2650a1.f80e8",
                "5cbe90bf.c99e8"
            ]
        ]
    },
    {
        "id": "dedd895a.cbb5a8",
        "type": "inject",
        "z": "9850183c.f376e8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 250,
        "y": 3700,
        "wires": [
            [
                "ddf036cc.f347b8"
            ]
        ]
    },
    {
        "id": "5cbe90bf.c99e8",
        "type": "debug",
        "z": "9850183c.f376e8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 800,
        "y": 3760,
        "wires": []
    },
    {
        "id": "2a61d02.87e563",
        "type": "ui_text",
        "z": "9850183c.f376e8",
        "group": "91dc4c0c.d87c6",
        "order": 6,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Temperature (in °C)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1130,
        "y": 3940,
        "wires": []
    },
    {
        "id": "38f326ce.9e15ca",
        "type": "ui_text",
        "z": "9850183c.f376e8",
        "group": "91dc4c0c.d87c6",
        "order": 7,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Humidity (in %)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 920,
        "y": 4040,
        "wires": []
    },
    {
        "id": "e235f9b0.df88b8",
        "type": "change",
        "z": "9850183c.f376e8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list.5.main.humidity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 4040,
        "wires": [
            [
                "38f326ce.9e15ca",
                "a4f1e93b.f8a608"
            ]
        ]
    },
    {
        "id": "1928df88.c3b26",
        "type": "ui_text",
        "z": "9850183c.f376e8",
        "group": "91dc4c0c.d87c6",
        "order": 8,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Pressure (in hPa)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 910,
        "y": 4120,
        "wires": []
    },
    {
        "id": "5f5a9d49.303344",
        "type": "change",
        "z": "9850183c.f376e8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list.5.main.pressure",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 4120,
        "wires": [
            [
                "1928df88.c3b26",
                "890d59de.bc1fd8"
            ]
        ]
    },
    {
        "id": "ffb5a173.8fcb8",
        "type": "ui_text",
        "z": "9850183c.f376e8",
        "group": "91dc4c0c.d87c6",
        "order": 9,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Wind Speed (in m/sec)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 980,
        "y": 4220,
        "wires": []
    },
    {
        "id": "d7b642ee.daa6f",
        "type": "change",
        "z": "9850183c.f376e8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list.5.wind.speed",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 4200,
        "wires": [
            [
                "f45a097f.1e6658",
                "ffb5a173.8fcb8"
            ]
        ]
    },
    {
        "id": "f0e7fbb1.d73038",
        "type": "ui_text",
        "z": "9850183c.f376e8",
        "group": "91dc4c0c.d87c6",
        "order": 10,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Wind Direction (in °)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 760,
        "y": 4280,
        "wires": []
    },
    {
        "id": "c9d8c5dd.490558",
        "type": "change",
        "z": "9850183c.f376e8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list.5.wind.deg",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 4280,
        "wires": [
            [
                "f0e7fbb1.d73038",
                "c2de1560.2b3fe8"
            ]
        ]
    },
    {
        "id": "a4f1e93b.f8a608",
        "type": "ui_gauge",
        "z": "9850183c.f376e8",
        "name": "",
        "group": "91dc4c0c.d87c6",
        "order": 2,
        "width": 4,
        "height": 4,
        "gtype": "donut",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 850,
        "y": 4000,
        "wires": []
    },
    {
        "id": "c2de1560.2b3fe8",
        "type": "ui_gauge",
        "z": "9850183c.f376e8",
        "name": "",
        "group": "91dc4c0c.d87c6",
        "order": 5,
        "width": 4,
        "height": 4,
        "gtype": "compass",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 720,
        "y": 4240,
        "wires": []
    },
    {
        "id": "890d59de.bc1fd8",
        "type": "ui_gauge",
        "z": "9850183c.f376e8",
        "name": "",
        "group": "91dc4c0c.d87c6",
        "order": 3,
        "width": 4,
        "height": 4,
        "gtype": "compass",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "10000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 820,
        "y": 4080,
        "wires": []
    },
    {
        "id": "f45a097f.1e6658",
        "type": "ui_gauge",
        "z": "9850183c.f376e8",
        "name": "",
        "group": "91dc4c0c.d87c6",
        "order": 4,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "10",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 970,
        "y": 4160,
        "wires": []
    },
    {
        "id": "5b87944e.466d5c",
        "type": "comment",
        "z": "9850183c.f376e8",
        "name": "HTTP Request Via Weather API ( DAY 1)",
        "info": "",
        "x": 700,
        "y": 3660,
        "wires": []
    },
    {
        "id": "ff2650a1.f80e8",
        "type": "change",
        "z": "9850183c.f376e8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list.5.main.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 3940,
        "wires": [
            [
                "8ef52dfa.0e3b3"
            ]
        ]
    },
    {
        "id": "8d1ddc53.eb77c",
        "type": "ui_gauge",
        "z": "9850183c.f376e8",
        "name": "",
        "group": "91dc4c0c.d87c6",
        "order": 1,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1110,
        "y": 3860,
        "wires": []
    },
    {
        "id": "8ef52dfa.0e3b3",
        "type": "function",
        "z": "9850183c.f376e8",
        "name": "Conversion",
        "func": "msg.payload = Math.round(msg.payload - 273.15);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 890,
        "y": 3900,
        "wires": [
            [
                "2a61d02.87e563",
                "8d1ddc53.eb77c"
            ]
        ]
    },
    {
        "id": "c48fcb3c.4bc218",
        "type": "http request",
        "z": "9850183c.f376e8",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "api.openweathermap.org/data/2.5/forecast?q=delhi&appid=f044fa317e908c0821619d9509699c2c",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 490,
        "y": 4500,
        "wires": [
            [
                "faea1450.594d78",
                "a6dd58b9.1ae358",
                "87e64f76.9b798",
                "79271e73.15564",
                "d5a9a80d.a83ff8",
                "29a656d.5f179aa"
            ]
        ]
    },
    {
        "id": "70252d1b.897a44",
        "type": "inject",
        "z": "9850183c.f376e8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 250,
        "y": 4400,
        "wires": [
            [
                "c48fcb3c.4bc218"
            ]
        ]
    },
    {
        "id": "29a656d.5f179aa",
        "type": "debug",
        "z": "9850183c.f376e8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 800,
        "y": 4460,
        "wires": []
    },
    {
        "id": "dfda615a.ea468",
        "type": "ui_text",
        "z": "9850183c.f376e8",
        "group": "e64d068.c089ff8",
        "order": 6,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Temperature (in °C)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1130,
        "y": 4640,
        "wires": []
    },
    {
        "id": "d1a07a1.a7bff88",
        "type": "ui_text",
        "z": "9850183c.f376e8",
        "group": "e64d068.c089ff8",
        "order": 7,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Humidity (in %)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 920,
        "y": 4740,
        "wires": []
    },
    {
        "id": "faea1450.594d78",
        "type": "change",
        "z": "9850183c.f376e8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list.6.main.humidity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 4740,
        "wires": [
            [
                "d1a07a1.a7bff88",
                "618c59be.f92208"
            ]
        ]
    },
    {
        "id": "57d1f0.4f1bde1",
        "type": "ui_text",
        "z": "9850183c.f376e8",
        "group": "e64d068.c089ff8",
        "order": 8,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Pressure (in hPa)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 910,
        "y": 4820,
        "wires": []
    },
    {
        "id": "a6dd58b9.1ae358",
        "type": "change",
        "z": "9850183c.f376e8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list.6.main.pressure",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 4820,
        "wires": [
            [
                "57d1f0.4f1bde1",
                "d4e4a82e.c44d88"
            ]
        ]
    },
    {
        "id": "9a2aa679.a6cdd8",
        "type": "ui_text",
        "z": "9850183c.f376e8",
        "group": "e64d068.c089ff8",
        "order": 9,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Wind Speed (in m/sec)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 980,
        "y": 4920,
        "wires": []
    },
    {
        "id": "87e64f76.9b798",
        "type": "change",
        "z": "9850183c.f376e8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list.6.wind.speed",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 4900,
        "wires": [
            [
                "db83975a.aa9708",
                "9a2aa679.a6cdd8"
            ]
        ]
    },
    {
        "id": "c7864fb4.cdcaa",
        "type": "ui_text",
        "z": "9850183c.f376e8",
        "group": "e64d068.c089ff8",
        "order": 10,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Wind Direction (in °)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 760,
        "y": 4980,
        "wires": []
    },
    {
        "id": "79271e73.15564",
        "type": "change",
        "z": "9850183c.f376e8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list.6.wind.deg",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 4980,
        "wires": [
            [
                "c7864fb4.cdcaa",
                "a2240975.7c61d8"
            ]
        ]
    },
    {
        "id": "618c59be.f92208",
        "type": "ui_gauge",
        "z": "9850183c.f376e8",
        "name": "",
        "group": "e64d068.c089ff8",
        "order": 2,
        "width": 4,
        "height": 4,
        "gtype": "donut",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 850,
        "y": 4700,
        "wires": []
    },
    {
        "id": "a2240975.7c61d8",
        "type": "ui_gauge",
        "z": "9850183c.f376e8",
        "name": "",
        "group": "e64d068.c089ff8",
        "order": 5,
        "width": 4,
        "height": 4,
        "gtype": "compass",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 720,
        "y": 4940,
        "wires": []
    },
    {
        "id": "d4e4a82e.c44d88",
        "type": "ui_gauge",
        "z": "9850183c.f376e8",
        "name": "",
        "group": "e64d068.c089ff8",
        "order": 3,
        "width": 4,
        "height": 4,
        "gtype": "compass",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "10000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 820,
        "y": 4780,
        "wires": []
    },
    {
        "id": "db83975a.aa9708",
        "type": "ui_gauge",
        "z": "9850183c.f376e8",
        "name": "",
        "group": "e64d068.c089ff8",
        "order": 4,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "10",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 970,
        "y": 4860,
        "wires": []
    },
    {
        "id": "894a210.dea14e",
        "type": "comment",
        "z": "9850183c.f376e8",
        "name": "HTTP Request Via Weather API ( DAY 1)",
        "info": "",
        "x": 700,
        "y": 4380,
        "wires": []
    },
    {
        "id": "d5a9a80d.a83ff8",
        "type": "change",
        "z": "9850183c.f376e8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list.6.main.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 4640,
        "wires": [
            [
                "c0e21847.eac5f8"
            ]
        ]
    },
    {
        "id": "369e15d8.1044da",
        "type": "ui_gauge",
        "z": "9850183c.f376e8",
        "name": "",
        "group": "e64d068.c089ff8",
        "order": 1,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1110,
        "y": 4560,
        "wires": []
    },
    {
        "id": "c0e21847.eac5f8",
        "type": "function",
        "z": "9850183c.f376e8",
        "name": "Conversion",
        "func": "msg.payload = Math.round(msg.payload - 273.15);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 890,
        "y": 4600,
        "wires": [
            [
                "dfda615a.ea468",
                "369e15d8.1044da"
            ]
        ]
    },
    {
        "id": "dea8f636.bb3268",
        "type": "http request",
        "z": "9850183c.f376e8",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "api.openweathermap.org/data/2.5/forecast?q=delhi&appid=f044fa317e908c0821619d9509699c2c",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1510,
        "y": 4500,
        "wires": [
            [
                "6d21567c.cd2958",
                "dd02dcae.8b5dc",
                "e8c0265a.5f6858",
                "4b3a0bd1.0a48b4",
                "46630120.e372c",
                "61e65a61.595c04"
            ]
        ]
    },
    {
        "id": "8f13259c.9ae6f8",
        "type": "inject",
        "z": "9850183c.f376e8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 1270,
        "y": 4400,
        "wires": [
            [
                "dea8f636.bb3268"
            ]
        ]
    },
    {
        "id": "61e65a61.595c04",
        "type": "debug",
        "z": "9850183c.f376e8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 1820,
        "y": 4460,
        "wires": []
    },
    {
        "id": "b337dbf.8524228",
        "type": "ui_text",
        "z": "9850183c.f376e8",
        "group": "50fbbf9f.35dc9",
        "order": 6,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Temperature (in °C)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 2150,
        "y": 4640,
        "wires": []
    },
    {
        "id": "580f2717.19b588",
        "type": "ui_text",
        "z": "9850183c.f376e8",
        "group": "50fbbf9f.35dc9",
        "order": 7,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Humidity (in %)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1940,
        "y": 4740,
        "wires": []
    },
    {
        "id": "6d21567c.cd2958",
        "type": "change",
        "z": "9850183c.f376e8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list.7.main.humidity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1660,
        "y": 4740,
        "wires": [
            [
                "580f2717.19b588",
                "cb532997.a7eb78"
            ]
        ]
    },
    {
        "id": "e717ffa4.8c108",
        "type": "ui_text",
        "z": "9850183c.f376e8",
        "group": "50fbbf9f.35dc9",
        "order": 8,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Pressure (in hPa)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1930,
        "y": 4820,
        "wires": []
    },
    {
        "id": "dd02dcae.8b5dc",
        "type": "change",
        "z": "9850183c.f376e8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list.7.main.pressure",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1620,
        "y": 4820,
        "wires": [
            [
                "e717ffa4.8c108",
                "e484de4c.563a2"
            ]
        ]
    },
    {
        "id": "18e68c46.ce7e54",
        "type": "ui_text",
        "z": "9850183c.f376e8",
        "group": "50fbbf9f.35dc9",
        "order": 9,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Wind Speed (in m/sec)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 2000,
        "y": 4920,
        "wires": []
    },
    {
        "id": "e8c0265a.5f6858",
        "type": "change",
        "z": "9850183c.f376e8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list.7.wind.speed",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1580,
        "y": 4900,
        "wires": [
            [
                "aee07e87.ad5e",
                "18e68c46.ce7e54"
            ]
        ]
    },
    {
        "id": "4bd0bd78.a10dc4",
        "type": "ui_text",
        "z": "9850183c.f376e8",
        "group": "50fbbf9f.35dc9",
        "order": 10,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Wind Direction (in °)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1780,
        "y": 4980,
        "wires": []
    },
    {
        "id": "4b3a0bd1.0a48b4",
        "type": "change",
        "z": "9850183c.f376e8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list.7.wind.deg",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1480,
        "y": 4980,
        "wires": [
            [
                "4bd0bd78.a10dc4",
                "9cac914.3d8bd7"
            ]
        ]
    },
    {
        "id": "cb532997.a7eb78",
        "type": "ui_gauge",
        "z": "9850183c.f376e8",
        "name": "",
        "group": "50fbbf9f.35dc9",
        "order": 2,
        "width": 4,
        "height": 4,
        "gtype": "donut",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1870,
        "y": 4700,
        "wires": []
    },
    {
        "id": "9cac914.3d8bd7",
        "type": "ui_gauge",
        "z": "9850183c.f376e8",
        "name": "",
        "group": "50fbbf9f.35dc9",
        "order": 5,
        "width": 4,
        "height": 4,
        "gtype": "compass",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1740,
        "y": 4940,
        "wires": []
    },
    {
        "id": "e484de4c.563a2",
        "type": "ui_gauge",
        "z": "9850183c.f376e8",
        "name": "",
        "group": "50fbbf9f.35dc9",
        "order": 3,
        "width": 4,
        "height": 4,
        "gtype": "compass",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "10000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1840,
        "y": 4780,
        "wires": []
    },
    {
        "id": "aee07e87.ad5e",
        "type": "ui_gauge",
        "z": "9850183c.f376e8",
        "name": "",
        "group": "50fbbf9f.35dc9",
        "order": 4,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "10",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1990,
        "y": 4860,
        "wires": []
    },
    {
        "id": "7897fe66.6e5f6",
        "type": "comment",
        "z": "9850183c.f376e8",
        "name": "HTTP Request Via Weather API ( DAY 1)",
        "info": "",
        "x": 1720,
        "y": 4360,
        "wires": []
    },
    {
        "id": "46630120.e372c",
        "type": "change",
        "z": "9850183c.f376e8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list.7.main.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 4640,
        "wires": [
            [
                "97d7ad0d.cf25"
            ]
        ]
    },
    {
        "id": "5707dad4.8f6e14",
        "type": "ui_gauge",
        "z": "9850183c.f376e8",
        "name": "",
        "group": "50fbbf9f.35dc9",
        "order": 1,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 2130,
        "y": 4560,
        "wires": []
    },
    {
        "id": "97d7ad0d.cf25",
        "type": "function",
        "z": "9850183c.f376e8",
        "name": "Conversion",
        "func": "msg.payload = Math.round(msg.payload - 273.15);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1910,
        "y": 4600,
        "wires": [
            [
                "b337dbf.8524228",
                "5707dad4.8f6e14"
            ]
        ]
    },
    {
        "id": "a8aed981.e8b458",
        "type": "http request",
        "z": "791895c1.03865c",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "api.openweathermap.org/data/2.5/forecast?q=delhi&appid=f044fa317e908c0821619d9509699c2c",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 390,
        "y": 180,
        "wires": [
            [
                "af601d34.9b569",
                "317897b1.3cc0a8",
                "e3a37554.191018",
                "53cb6eb8.4c5af",
                "e0d9bc6a.c374c",
                "10d74074.1f242"
            ]
        ]
    },
    {
        "id": "81ee70c1.1b768",
        "type": "inject",
        "z": "791895c1.03865c",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 80,
        "wires": [
            [
                "a8aed981.e8b458"
            ]
        ]
    },
    {
        "id": "10d74074.1f242",
        "type": "debug",
        "z": "791895c1.03865c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 700,
        "y": 140,
        "wires": []
    },
    {
        "id": "1009521.72d97ae",
        "type": "ui_text",
        "z": "791895c1.03865c",
        "group": "e1d6ed7b.84771",
        "order": 6,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Temperature (in °C)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1030,
        "y": 320,
        "wires": []
    },
    {
        "id": "dd55b199.27829",
        "type": "ui_text",
        "z": "791895c1.03865c",
        "group": "e1d6ed7b.84771",
        "order": 7,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Humidity (in %)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 820,
        "y": 420,
        "wires": []
    },
    {
        "id": "af601d34.9b569",
        "type": "change",
        "z": "791895c1.03865c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list.8.main.humidity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 420,
        "wires": [
            [
                "dd55b199.27829",
                "8a94f466.44ff38"
            ]
        ]
    },
    {
        "id": "462fe291.29ce7c",
        "type": "ui_text",
        "z": "791895c1.03865c",
        "group": "e1d6ed7b.84771",
        "order": 8,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Pressure (in hPa)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 810,
        "y": 500,
        "wires": []
    },
    {
        "id": "317897b1.3cc0a8",
        "type": "change",
        "z": "791895c1.03865c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list.8.main.pressure",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 500,
        "wires": [
            [
                "462fe291.29ce7c",
                "addcafd0.1354b"
            ]
        ]
    },
    {
        "id": "7b259e19.6a7b9",
        "type": "ui_text",
        "z": "791895c1.03865c",
        "group": "e1d6ed7b.84771",
        "order": 9,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Wind Speed (in m/sec)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 880,
        "y": 600,
        "wires": []
    },
    {
        "id": "e3a37554.191018",
        "type": "change",
        "z": "791895c1.03865c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list.8.wind.speed",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 580,
        "wires": [
            [
                "e64d7916.8bbf78",
                "7b259e19.6a7b9"
            ]
        ]
    },
    {
        "id": "ebb80ce6.919f9",
        "type": "ui_text",
        "z": "791895c1.03865c",
        "group": "e1d6ed7b.84771",
        "order": 10,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Wind Direction (in °)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 660,
        "y": 660,
        "wires": []
    },
    {
        "id": "53cb6eb8.4c5af",
        "type": "change",
        "z": "791895c1.03865c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list.8.wind.deg",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 660,
        "wires": [
            [
                "ebb80ce6.919f9",
                "c0a8e634.2d77e8"
            ]
        ]
    },
    {
        "id": "8a94f466.44ff38",
        "type": "ui_gauge",
        "z": "791895c1.03865c",
        "name": "",
        "group": "e1d6ed7b.84771",
        "order": 2,
        "width": 4,
        "height": 4,
        "gtype": "donut",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 750,
        "y": 380,
        "wires": []
    },
    {
        "id": "c0a8e634.2d77e8",
        "type": "ui_gauge",
        "z": "791895c1.03865c",
        "name": "",
        "group": "e1d6ed7b.84771",
        "order": 5,
        "width": 4,
        "height": 4,
        "gtype": "compass",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 620,
        "y": 620,
        "wires": []
    },
    {
        "id": "addcafd0.1354b",
        "type": "ui_gauge",
        "z": "791895c1.03865c",
        "name": "",
        "group": "e1d6ed7b.84771",
        "order": 3,
        "width": 4,
        "height": 4,
        "gtype": "compass",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "10000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 720,
        "y": 460,
        "wires": []
    },
    {
        "id": "e64d7916.8bbf78",
        "type": "ui_gauge",
        "z": "791895c1.03865c",
        "name": "",
        "group": "e1d6ed7b.84771",
        "order": 4,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "10",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 870,
        "y": 540,
        "wires": []
    },
    {
        "id": "33c688f1.7b3128",
        "type": "comment",
        "z": "791895c1.03865c",
        "name": "HTTP Request Via Weather API (DAY 2)",
        "info": "",
        "x": 600,
        "y": 40,
        "wires": []
    },
    {
        "id": "e0d9bc6a.c374c",
        "type": "change",
        "z": "791895c1.03865c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list.8.main.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 320,
        "wires": [
            [
                "5c8a5388.a02fcc"
            ]
        ]
    },
    {
        "id": "7fadfd59.e592e4",
        "type": "ui_gauge",
        "z": "791895c1.03865c",
        "name": "",
        "group": "e1d6ed7b.84771",
        "order": 1,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1010,
        "y": 240,
        "wires": []
    },
    {
        "id": "5c8a5388.a02fcc",
        "type": "function",
        "z": "791895c1.03865c",
        "name": "Conversion",
        "func": "msg.payload = Math.round(msg.payload - 273.15);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 790,
        "y": 280,
        "wires": [
            [
                "1009521.72d97ae",
                "7fadfd59.e592e4"
            ]
        ]
    },
    {
        "id": "b223586b.fb2d48",
        "type": "http request",
        "z": "791895c1.03865c",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "api.openweathermap.org/data/2.5/forecast?q=delhi&appid=f044fa317e908c0821619d9509699c2c",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 470,
        "y": 880,
        "wires": [
            [
                "29c19479.f3f89c",
                "84fe8fa9.00af8",
                "c742b882.fb58c8",
                "1c82fbd0.f516e4",
                "dbda7f3c.3f0d5",
                "519be839.4d1a18"
            ]
        ]
    },
    {
        "id": "fff7cd85.7110a",
        "type": "inject",
        "z": "791895c1.03865c",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 230,
        "y": 780,
        "wires": [
            [
                "b223586b.fb2d48"
            ]
        ]
    },
    {
        "id": "519be839.4d1a18",
        "type": "debug",
        "z": "791895c1.03865c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 780,
        "y": 840,
        "wires": []
    },
    {
        "id": "8cf774e.3d3c288",
        "type": "ui_text",
        "z": "791895c1.03865c",
        "group": "ab7df628.0d6a78",
        "order": 6,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Temperature (in °C)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1110,
        "y": 1020,
        "wires": []
    },
    {
        "id": "1d80348a.8b8e6b",
        "type": "ui_text",
        "z": "791895c1.03865c",
        "group": "ab7df628.0d6a78",
        "order": 7,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Humidity (in %)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 900,
        "y": 1120,
        "wires": []
    },
    {
        "id": "29c19479.f3f89c",
        "type": "change",
        "z": "791895c1.03865c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list.9.main.humidity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 1120,
        "wires": [
            [
                "1d80348a.8b8e6b",
                "c3c8fbd9.41fb88"
            ]
        ]
    },
    {
        "id": "797de49a.ff3e9c",
        "type": "ui_text",
        "z": "791895c1.03865c",
        "group": "ab7df628.0d6a78",
        "order": 8,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Pressure (in hPa)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 890,
        "y": 1200,
        "wires": []
    },
    {
        "id": "84fe8fa9.00af8",
        "type": "change",
        "z": "791895c1.03865c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list.9.main.pressure",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 1200,
        "wires": [
            [
                "797de49a.ff3e9c",
                "aaff660f.b8e4a8"
            ]
        ]
    },
    {
        "id": "2dd39ff.b97b16",
        "type": "ui_text",
        "z": "791895c1.03865c",
        "group": "ab7df628.0d6a78",
        "order": 9,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Wind Speed (in m/sec)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 960,
        "y": 1300,
        "wires": []
    },
    {
        "id": "c742b882.fb58c8",
        "type": "change",
        "z": "791895c1.03865c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list.9.wind.speed",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 1280,
        "wires": [
            [
                "3989abfc.a7a354",
                "2dd39ff.b97b16"
            ]
        ]
    },
    {
        "id": "33c8f5ed.7a63da",
        "type": "ui_text",
        "z": "791895c1.03865c",
        "group": "ab7df628.0d6a78",
        "order": 10,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Wind Direction (in °)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 740,
        "y": 1360,
        "wires": []
    },
    {
        "id": "1c82fbd0.f516e4",
        "type": "change",
        "z": "791895c1.03865c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list.9.wind.deg",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 1360,
        "wires": [
            [
                "33c8f5ed.7a63da",
                "6e863964.2a27b8"
            ]
        ]
    },
    {
        "id": "c3c8fbd9.41fb88",
        "type": "ui_gauge",
        "z": "791895c1.03865c",
        "name": "",
        "group": "ab7df628.0d6a78",
        "order": 2,
        "width": 4,
        "height": 4,
        "gtype": "donut",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 830,
        "y": 1080,
        "wires": []
    },
    {
        "id": "6e863964.2a27b8",
        "type": "ui_gauge",
        "z": "791895c1.03865c",
        "name": "",
        "group": "ab7df628.0d6a78",
        "order": 5,
        "width": 4,
        "height": 4,
        "gtype": "compass",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 700,
        "y": 1320,
        "wires": []
    },
    {
        "id": "aaff660f.b8e4a8",
        "type": "ui_gauge",
        "z": "791895c1.03865c",
        "name": "",
        "group": "ab7df628.0d6a78",
        "order": 3,
        "width": 4,
        "height": 4,
        "gtype": "compass",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "10000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 800,
        "y": 1160,
        "wires": []
    },
    {
        "id": "3989abfc.a7a354",
        "type": "ui_gauge",
        "z": "791895c1.03865c",
        "name": "",
        "group": "ab7df628.0d6a78",
        "order": 4,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "10",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 950,
        "y": 1240,
        "wires": []
    },
    {
        "id": "7c5e85de.d3a4ac",
        "type": "comment",
        "z": "791895c1.03865c",
        "name": "HTTP Request Via Weather API (DAY 2)",
        "info": "",
        "x": 680,
        "y": 740,
        "wires": []
    },
    {
        "id": "dbda7f3c.3f0d5",
        "type": "change",
        "z": "791895c1.03865c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list.9.main.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 1020,
        "wires": [
            [
                "48cc6751.7225b8"
            ]
        ]
    },
    {
        "id": "3b4b113a.64253e",
        "type": "ui_gauge",
        "z": "791895c1.03865c",
        "name": "",
        "group": "ab7df628.0d6a78",
        "order": 1,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1090,
        "y": 940,
        "wires": []
    },
    {
        "id": "48cc6751.7225b8",
        "type": "function",
        "z": "791895c1.03865c",
        "name": "Conversion",
        "func": "msg.payload = Math.round(msg.payload - 273.15);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 870,
        "y": 980,
        "wires": [
            [
                "8cf774e.3d3c288",
                "3b4b113a.64253e"
            ]
        ]
    },
    {
        "id": "dfb9df8b.27794",
        "type": "http request",
        "z": "791895c1.03865c",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "api.openweathermap.org/data/2.5/forecast?q=delhi&appid=f044fa317e908c0821619d9509699c2c",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 470,
        "y": 1600,
        "wires": [
            [
                "364505f.fe82cfa",
                "a5677745.727a68",
                "8508418a.e7d48",
                "bd4d4e51.11fa",
                "f9189dc5.cdc8d",
                "d05e39b3.682278"
            ]
        ]
    },
    {
        "id": "d67ba2b6.91b43",
        "type": "inject",
        "z": "791895c1.03865c",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 230,
        "y": 1500,
        "wires": [
            [
                "dfb9df8b.27794"
            ]
        ]
    },
    {
        "id": "d05e39b3.682278",
        "type": "debug",
        "z": "791895c1.03865c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 780,
        "y": 1560,
        "wires": []
    },
    {
        "id": "2713c043.459d",
        "type": "ui_text",
        "z": "791895c1.03865c",
        "group": "cfc4fafa.597d68",
        "order": 6,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Temperature (in °C)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1110,
        "y": 1740,
        "wires": []
    },
    {
        "id": "bf775fa.69f7ca",
        "type": "ui_text",
        "z": "791895c1.03865c",
        "group": "cfc4fafa.597d68",
        "order": 7,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Humidity (in %)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 900,
        "y": 1840,
        "wires": []
    },
    {
        "id": "364505f.fe82cfa",
        "type": "change",
        "z": "791895c1.03865c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list.10.main.humidity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 1840,
        "wires": [
            [
                "bf775fa.69f7ca",
                "6c37d183.44278"
            ]
        ]
    },
    {
        "id": "488d419.33630c",
        "type": "ui_text",
        "z": "791895c1.03865c",
        "group": "cfc4fafa.597d68",
        "order": 8,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Pressure (in hPa)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 890,
        "y": 1920,
        "wires": []
    },
    {
        "id": "a5677745.727a68",
        "type": "change",
        "z": "791895c1.03865c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list.10.main.pressure",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 1920,
        "wires": [
            [
                "488d419.33630c",
                "8c187a26.2258f8"
            ]
        ]
    },
    {
        "id": "e5597889.87bc98",
        "type": "ui_text",
        "z": "791895c1.03865c",
        "group": "cfc4fafa.597d68",
        "order": 9,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Wind Speed (in m/sec)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 960,
        "y": 2020,
        "wires": []
    },
    {
        "id": "8508418a.e7d48",
        "type": "change",
        "z": "791895c1.03865c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list.10.wind.speed",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 2000,
        "wires": [
            [
                "bc5a0985.b8c758",
                "e5597889.87bc98"
            ]
        ]
    },
    {
        "id": "1022e6e1.d7bce9",
        "type": "ui_text",
        "z": "791895c1.03865c",
        "group": "cfc4fafa.597d68",
        "order": 10,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Wind Direction (in °)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 740,
        "y": 2080,
        "wires": []
    },
    {
        "id": "bd4d4e51.11fa",
        "type": "change",
        "z": "791895c1.03865c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list.10.wind.deg",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 2080,
        "wires": [
            [
                "1022e6e1.d7bce9",
                "f2f8dc47.115d8"
            ]
        ]
    },
    {
        "id": "6c37d183.44278",
        "type": "ui_gauge",
        "z": "791895c1.03865c",
        "name": "",
        "group": "cfc4fafa.597d68",
        "order": 2,
        "width": 4,
        "height": 4,
        "gtype": "donut",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 830,
        "y": 1800,
        "wires": []
    },
    {
        "id": "f2f8dc47.115d8",
        "type": "ui_gauge",
        "z": "791895c1.03865c",
        "name": "",
        "group": "cfc4fafa.597d68",
        "order": 5,
        "width": 4,
        "height": 4,
        "gtype": "compass",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 700,
        "y": 2040,
        "wires": []
    },
    {
        "id": "8c187a26.2258f8",
        "type": "ui_gauge",
        "z": "791895c1.03865c",
        "name": "",
        "group": "cfc4fafa.597d68",
        "order": 3,
        "width": 4,
        "height": 4,
        "gtype": "compass",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "10000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 800,
        "y": 1880,
        "wires": []
    },
    {
        "id": "bc5a0985.b8c758",
        "type": "ui_gauge",
        "z": "791895c1.03865c",
        "name": "",
        "group": "cfc4fafa.597d68",
        "order": 4,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "10",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 950,
        "y": 1960,
        "wires": []
    },
    {
        "id": "a7a1e930.1f6318",
        "type": "comment",
        "z": "791895c1.03865c",
        "name": "HTTP Request Via Weather API (DAY 2)",
        "info": "",
        "x": 680,
        "y": 1460,
        "wires": []
    },
    {
        "id": "f9189dc5.cdc8d",
        "type": "change",
        "z": "791895c1.03865c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list.10.main.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 1740,
        "wires": [
            [
                "1df277d.799ba88"
            ]
        ]
    },
    {
        "id": "46fa5831.3f0d18",
        "type": "ui_gauge",
        "z": "791895c1.03865c",
        "name": "",
        "group": "cfc4fafa.597d68",
        "order": 1,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1090,
        "y": 1660,
        "wires": []
    },
    {
        "id": "1df277d.799ba88",
        "type": "function",
        "z": "791895c1.03865c",
        "name": "Conversion",
        "func": "msg.payload = Math.round(msg.payload - 273.15);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 870,
        "y": 1700,
        "wires": [
            [
                "2713c043.459d",
                "46fa5831.3f0d18"
            ]
        ]
    },
    {
        "id": "f3b9f169.45a17",
        "type": "http request",
        "z": "791895c1.03865c",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "api.openweathermap.org/data/2.5/forecast?q=delhi&appid=f044fa317e908c0821619d9509699c2c",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 490,
        "y": 2300,
        "wires": [
            [
                "e0ac8e68.94bf4",
                "b36dae7c.dacc5",
                "52677967.b0de48",
                "bd9a22f5.b247f",
                "fa42f73c.6a4418",
                "5517ee1c.a5912"
            ]
        ]
    },
    {
        "id": "59980758.a3b888",
        "type": "inject",
        "z": "791895c1.03865c",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 250,
        "y": 2200,
        "wires": [
            [
                "f3b9f169.45a17"
            ]
        ]
    },
    {
        "id": "5517ee1c.a5912",
        "type": "debug",
        "z": "791895c1.03865c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 800,
        "y": 2260,
        "wires": []
    },
    {
        "id": "9480ccdb.3bb2d",
        "type": "ui_text",
        "z": "791895c1.03865c",
        "group": "480e185a.263fb8",
        "order": 6,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Temperature (in °C)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1130,
        "y": 2440,
        "wires": []
    },
    {
        "id": "40169d03.c3a7b4",
        "type": "ui_text",
        "z": "791895c1.03865c",
        "group": "480e185a.263fb8",
        "order": 7,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Humidity (in %)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 920,
        "y": 2540,
        "wires": []
    },
    {
        "id": "e0ac8e68.94bf4",
        "type": "change",
        "z": "791895c1.03865c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list.11.main.humidity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 2540,
        "wires": [
            [
                "40169d03.c3a7b4",
                "f23b59b5.e510f8"
            ]
        ]
    },
    {
        "id": "6d867b9b.0aeaa4",
        "type": "ui_text",
        "z": "791895c1.03865c",
        "group": "480e185a.263fb8",
        "order": 8,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Pressure (in hPa)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 910,
        "y": 2620,
        "wires": []
    },
    {
        "id": "b36dae7c.dacc5",
        "type": "change",
        "z": "791895c1.03865c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list.11.main.pressure",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 2620,
        "wires": [
            [
                "6d867b9b.0aeaa4",
                "d1259743.4f5488"
            ]
        ]
    },
    {
        "id": "528b0519.6ef43c",
        "type": "ui_text",
        "z": "791895c1.03865c",
        "group": "480e185a.263fb8",
        "order": 9,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Wind Speed (in m/sec)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 980,
        "y": 2720,
        "wires": []
    },
    {
        "id": "52677967.b0de48",
        "type": "change",
        "z": "791895c1.03865c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list.11.wind.speed",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 2700,
        "wires": [
            [
                "ba4663d4.1fe77",
                "528b0519.6ef43c"
            ]
        ]
    },
    {
        "id": "954ac92b.b81f98",
        "type": "ui_text",
        "z": "791895c1.03865c",
        "group": "480e185a.263fb8",
        "order": 10,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Wind Direction (in °)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 760,
        "y": 2780,
        "wires": []
    },
    {
        "id": "bd9a22f5.b247f",
        "type": "change",
        "z": "791895c1.03865c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list.11.wind.deg",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 2780,
        "wires": [
            [
                "954ac92b.b81f98",
                "828ecb9a.dc9f98"
            ]
        ]
    },
    {
        "id": "f23b59b5.e510f8",
        "type": "ui_gauge",
        "z": "791895c1.03865c",
        "name": "",
        "group": "480e185a.263fb8",
        "order": 2,
        "width": 4,
        "height": 4,
        "gtype": "donut",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 850,
        "y": 2500,
        "wires": []
    },
    {
        "id": "828ecb9a.dc9f98",
        "type": "ui_gauge",
        "z": "791895c1.03865c",
        "name": "",
        "group": "480e185a.263fb8",
        "order": 5,
        "width": 4,
        "height": 4,
        "gtype": "compass",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 720,
        "y": 2740,
        "wires": []
    },
    {
        "id": "d1259743.4f5488",
        "type": "ui_gauge",
        "z": "791895c1.03865c",
        "name": "",
        "group": "480e185a.263fb8",
        "order": 3,
        "width": 4,
        "height": 4,
        "gtype": "compass",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "10000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 820,
        "y": 2580,
        "wires": []
    },
    {
        "id": "ba4663d4.1fe77",
        "type": "ui_gauge",
        "z": "791895c1.03865c",
        "name": "",
        "group": "480e185a.263fb8",
        "order": 4,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "10",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 970,
        "y": 2660,
        "wires": []
    },
    {
        "id": "de36e56a.cc11d8",
        "type": "comment",
        "z": "791895c1.03865c",
        "name": "HTTP Request Via Weather API (DAY 2)",
        "info": "",
        "x": 700,
        "y": 2160,
        "wires": []
    },
    {
        "id": "fa42f73c.6a4418",
        "type": "change",
        "z": "791895c1.03865c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list.11.main.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 2440,
        "wires": [
            [
                "c66fe1fd.4ddeb"
            ]
        ]
    },
    {
        "id": "c2a72dcd.e3b4",
        "type": "ui_gauge",
        "z": "791895c1.03865c",
        "name": "",
        "group": "480e185a.263fb8",
        "order": 1,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1110,
        "y": 2360,
        "wires": []
    },
    {
        "id": "c66fe1fd.4ddeb",
        "type": "function",
        "z": "791895c1.03865c",
        "name": "Conversion",
        "func": "msg.payload = Math.round(msg.payload - 273.15);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 890,
        "y": 2400,
        "wires": [
            [
                "9480ccdb.3bb2d",
                "c2a72dcd.e3b4"
            ]
        ]
    },
    {
        "id": "85c86b57.5bafb8",
        "type": "http request",
        "z": "791895c1.03865c",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "api.openweathermap.org/data/2.5/forecast?q=delhi&appid=f044fa317e908c0821619d9509699c2c",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 510,
        "y": 3020,
        "wires": [
            [
                "88d867ff.1fa6e8",
                "9fc5ca4f.b5d8f8",
                "4c8d1fc6.b47dd",
                "b8b8b16a.b9a35",
                "7e548464.b8d6ec",
                "e84214e7.c26f18"
            ]
        ]
    },
    {
        "id": "1e5f6ae7.61ce15",
        "type": "inject",
        "z": "791895c1.03865c",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 270,
        "y": 2920,
        "wires": [
            [
                "85c86b57.5bafb8"
            ]
        ]
    },
    {
        "id": "e84214e7.c26f18",
        "type": "debug",
        "z": "791895c1.03865c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 820,
        "y": 2980,
        "wires": []
    },
    {
        "id": "bb1fc49a.4a6388",
        "type": "ui_text",
        "z": "791895c1.03865c",
        "group": "c56eb085.82b4f",
        "order": 6,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Temperature (in °C)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1150,
        "y": 3160,
        "wires": []
    },
    {
        "id": "cc93a73f.d029d8",
        "type": "ui_text",
        "z": "791895c1.03865c",
        "group": "c56eb085.82b4f",
        "order": 7,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Humidity (in %)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 940,
        "y": 3260,
        "wires": []
    },
    {
        "id": "88d867ff.1fa6e8",
        "type": "change",
        "z": "791895c1.03865c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list.12.main.humidity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 3260,
        "wires": [
            [
                "cc93a73f.d029d8",
                "da23aa47.559f98"
            ]
        ]
    },
    {
        "id": "30b73eea.c90112",
        "type": "ui_text",
        "z": "791895c1.03865c",
        "group": "c56eb085.82b4f",
        "order": 8,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Pressure (in hPa)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 930,
        "y": 3340,
        "wires": []
    },
    {
        "id": "9fc5ca4f.b5d8f8",
        "type": "change",
        "z": "791895c1.03865c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list.12.main.pressure",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 3340,
        "wires": [
            [
                "30b73eea.c90112",
                "9c441d63.46853"
            ]
        ]
    },
    {
        "id": "3048073f.44fff8",
        "type": "ui_text",
        "z": "791895c1.03865c",
        "group": "c56eb085.82b4f",
        "order": 9,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Wind Speed (in m/sec)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1000,
        "y": 3440,
        "wires": []
    },
    {
        "id": "4c8d1fc6.b47dd",
        "type": "change",
        "z": "791895c1.03865c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list.12.wind.speed",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 3420,
        "wires": [
            [
                "4717d459.435b5c",
                "3048073f.44fff8"
            ]
        ]
    },
    {
        "id": "410c867c.523558",
        "type": "ui_text",
        "z": "791895c1.03865c",
        "group": "c56eb085.82b4f",
        "order": 10,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Wind Direction (in °)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 780,
        "y": 3500,
        "wires": []
    },
    {
        "id": "b8b8b16a.b9a35",
        "type": "change",
        "z": "791895c1.03865c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list.12.wind.deg",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 3500,
        "wires": [
            [
                "410c867c.523558",
                "f716c52b.24c828"
            ]
        ]
    },
    {
        "id": "da23aa47.559f98",
        "type": "ui_gauge",
        "z": "791895c1.03865c",
        "name": "",
        "group": "c56eb085.82b4f",
        "order": 2,
        "width": 4,
        "height": 4,
        "gtype": "donut",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 870,
        "y": 3220,
        "wires": []
    },
    {
        "id": "f716c52b.24c828",
        "type": "ui_gauge",
        "z": "791895c1.03865c",
        "name": "",
        "group": "c56eb085.82b4f",
        "order": 5,
        "width": 4,
        "height": 4,
        "gtype": "compass",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 740,
        "y": 3460,
        "wires": []
    },
    {
        "id": "9c441d63.46853",
        "type": "ui_gauge",
        "z": "791895c1.03865c",
        "name": "",
        "group": "c56eb085.82b4f",
        "order": 3,
        "width": 4,
        "height": 4,
        "gtype": "compass",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "10000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 840,
        "y": 3300,
        "wires": []
    },
    {
        "id": "4717d459.435b5c",
        "type": "ui_gauge",
        "z": "791895c1.03865c",
        "name": "",
        "group": "c56eb085.82b4f",
        "order": 4,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "10",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 990,
        "y": 3380,
        "wires": []
    },
    {
        "id": "b58e3a1.0b355c8",
        "type": "comment",
        "z": "791895c1.03865c",
        "name": "HTTP Request Via Weather API (DAY 2)",
        "info": "",
        "x": 720,
        "y": 2880,
        "wires": []
    },
    {
        "id": "7e548464.b8d6ec",
        "type": "change",
        "z": "791895c1.03865c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list.12.main.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 3160,
        "wires": [
            [
                "43671cbd.31d564"
            ]
        ]
    },
    {
        "id": "6309082c.a7a1d8",
        "type": "ui_gauge",
        "z": "791895c1.03865c",
        "name": "",
        "group": "c56eb085.82b4f",
        "order": 1,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1130,
        "y": 3080,
        "wires": []
    },
    {
        "id": "43671cbd.31d564",
        "type": "function",
        "z": "791895c1.03865c",
        "name": "Conversion",
        "func": "msg.payload = Math.round(msg.payload - 273.15);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 910,
        "y": 3120,
        "wires": [
            [
                "bb1fc49a.4a6388",
                "6309082c.a7a1d8"
            ]
        ]
    },
    {
        "id": "dd1781fb.15f31",
        "type": "http request",
        "z": "791895c1.03865c",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "api.openweathermap.org/data/2.5/forecast?q=delhi&appid=f044fa317e908c0821619d9509699c2c",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 490,
        "y": 3740,
        "wires": [
            [
                "f91a284b.5439f8",
                "aef63680.52ea48",
                "75508e2b.fbaf7",
                "404c274e.699c88",
                "2809a4d6.74951c",
                "eb850442.a51288"
            ]
        ]
    },
    {
        "id": "17daab14.3d1805",
        "type": "inject",
        "z": "791895c1.03865c",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 250,
        "y": 3640,
        "wires": [
            [
                "dd1781fb.15f31"
            ]
        ]
    },
    {
        "id": "eb850442.a51288",
        "type": "debug",
        "z": "791895c1.03865c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 800,
        "y": 3700,
        "wires": []
    },
    {
        "id": "caecd26d.9b198",
        "type": "ui_text",
        "z": "791895c1.03865c",
        "group": "978a5836.3de278",
        "order": 6,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Temperature (in °C)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1130,
        "y": 3880,
        "wires": []
    },
    {
        "id": "16503e6f.5da142",
        "type": "ui_text",
        "z": "791895c1.03865c",
        "group": "978a5836.3de278",
        "order": 7,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Humidity (in %)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 920,
        "y": 3980,
        "wires": []
    },
    {
        "id": "f91a284b.5439f8",
        "type": "change",
        "z": "791895c1.03865c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list.13.main.humidity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 3980,
        "wires": [
            [
                "16503e6f.5da142",
                "a871d6f8.42fa98"
            ]
        ]
    },
    {
        "id": "17ec99f2.3603f6",
        "type": "ui_text",
        "z": "791895c1.03865c",
        "group": "978a5836.3de278",
        "order": 8,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Pressure (in hPa)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 910,
        "y": 4060,
        "wires": []
    },
    {
        "id": "aef63680.52ea48",
        "type": "change",
        "z": "791895c1.03865c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list.13.main.pressure",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 4060,
        "wires": [
            [
                "17ec99f2.3603f6",
                "b8e7c07.bed1f4"
            ]
        ]
    },
    {
        "id": "ce1e08ee.3bd868",
        "type": "ui_text",
        "z": "791895c1.03865c",
        "group": "978a5836.3de278",
        "order": 9,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Wind Speed (in m/sec)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 980,
        "y": 4160,
        "wires": []
    },
    {
        "id": "75508e2b.fbaf7",
        "type": "change",
        "z": "791895c1.03865c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list.13.wind.speed",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 4140,
        "wires": [
            [
                "92701473.36d6b8",
                "ce1e08ee.3bd868"
            ]
        ]
    },
    {
        "id": "93c82e51.7a222",
        "type": "ui_text",
        "z": "791895c1.03865c",
        "group": "978a5836.3de278",
        "order": 10,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Wind Direction (in °)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 760,
        "y": 4220,
        "wires": []
    },
    {
        "id": "404c274e.699c88",
        "type": "change",
        "z": "791895c1.03865c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list.13.wind.deg",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 4220,
        "wires": [
            [
                "93c82e51.7a222",
                "a09a9e91.ad9b9"
            ]
        ]
    },
    {
        "id": "a871d6f8.42fa98",
        "type": "ui_gauge",
        "z": "791895c1.03865c",
        "name": "",
        "group": "978a5836.3de278",
        "order": 2,
        "width": 4,
        "height": 4,
        "gtype": "donut",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 850,
        "y": 3940,
        "wires": []
    },
    {
        "id": "a09a9e91.ad9b9",
        "type": "ui_gauge",
        "z": "791895c1.03865c",
        "name": "",
        "group": "978a5836.3de278",
        "order": 5,
        "width": 4,
        "height": 4,
        "gtype": "compass",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 720,
        "y": 4180,
        "wires": []
    },
    {
        "id": "b8e7c07.bed1f4",
        "type": "ui_gauge",
        "z": "791895c1.03865c",
        "name": "",
        "group": "978a5836.3de278",
        "order": 3,
        "width": 4,
        "height": 4,
        "gtype": "compass",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "10000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 820,
        "y": 4020,
        "wires": []
    },
    {
        "id": "92701473.36d6b8",
        "type": "ui_gauge",
        "z": "791895c1.03865c",
        "name": "",
        "group": "978a5836.3de278",
        "order": 4,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "10",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 970,
        "y": 4100,
        "wires": []
    },
    {
        "id": "d0b7de92.c33c9",
        "type": "comment",
        "z": "791895c1.03865c",
        "name": "HTTP Request Via Weather API (DAY 2)",
        "info": "",
        "x": 700,
        "y": 3600,
        "wires": []
    },
    {
        "id": "2809a4d6.74951c",
        "type": "change",
        "z": "791895c1.03865c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list.13.main.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 3880,
        "wires": [
            [
                "19afd8c6.f55427"
            ]
        ]
    },
    {
        "id": "52a1c354.ece8bc",
        "type": "ui_gauge",
        "z": "791895c1.03865c",
        "name": "",
        "group": "978a5836.3de278",
        "order": 1,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1110,
        "y": 3800,
        "wires": []
    },
    {
        "id": "19afd8c6.f55427",
        "type": "function",
        "z": "791895c1.03865c",
        "name": "Conversion",
        "func": "msg.payload = Math.round(msg.payload - 273.15);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 890,
        "y": 3840,
        "wires": [
            [
                "caecd26d.9b198",
                "52a1c354.ece8bc"
            ]
        ]
    },
    {
        "id": "6ce869c.7aa2898",
        "type": "http request",
        "z": "791895c1.03865c",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "api.openweathermap.org/data/2.5/forecast?q=delhi&appid=f044fa317e908c0821619d9509699c2c",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 450,
        "y": 4480,
        "wires": [
            [
                "4b077b74.4b5714",
                "5a48ffe.45cad",
                "23408d70.2f0c82",
                "a8631ea9.367b3",
                "ef48f511.5bafe8",
                "e82fd176.59ce"
            ]
        ]
    },
    {
        "id": "55c18095.ebe17",
        "type": "inject",
        "z": "791895c1.03865c",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 210,
        "y": 4380,
        "wires": [
            [
                "6ce869c.7aa2898"
            ]
        ]
    },
    {
        "id": "e82fd176.59ce",
        "type": "debug",
        "z": "791895c1.03865c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 760,
        "y": 4440,
        "wires": []
    },
    {
        "id": "35d29111.4369de",
        "type": "ui_text",
        "z": "791895c1.03865c",
        "group": "1d1294a0.cf985b",
        "order": 6,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Temperature (in °C)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1090,
        "y": 4620,
        "wires": []
    },
    {
        "id": "577b3915.b4b3c8",
        "type": "ui_text",
        "z": "791895c1.03865c",
        "group": "1d1294a0.cf985b",
        "order": 7,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Humidity (in %)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 880,
        "y": 4720,
        "wires": []
    },
    {
        "id": "4b077b74.4b5714",
        "type": "change",
        "z": "791895c1.03865c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list.14.main.humidity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 4720,
        "wires": [
            [
                "577b3915.b4b3c8",
                "67ebe022.20a3f"
            ]
        ]
    },
    {
        "id": "b0063e90.8c138",
        "type": "ui_text",
        "z": "791895c1.03865c",
        "group": "1d1294a0.cf985b",
        "order": 8,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Pressure (in hPa)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 870,
        "y": 4800,
        "wires": []
    },
    {
        "id": "5a48ffe.45cad",
        "type": "change",
        "z": "791895c1.03865c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list.14.main.pressure",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 4800,
        "wires": [
            [
                "b0063e90.8c138",
                "b867ae8a.6a698"
            ]
        ]
    },
    {
        "id": "914d6e4a.4dbe7",
        "type": "ui_text",
        "z": "791895c1.03865c",
        "group": "1d1294a0.cf985b",
        "order": 9,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Wind Speed (in m/sec)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 940,
        "y": 4900,
        "wires": []
    },
    {
        "id": "23408d70.2f0c82",
        "type": "change",
        "z": "791895c1.03865c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list.14.wind.speed",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 4880,
        "wires": [
            [
                "aece6718.ba3268",
                "914d6e4a.4dbe7"
            ]
        ]
    },
    {
        "id": "df4c82da.a3256",
        "type": "ui_text",
        "z": "791895c1.03865c",
        "group": "1d1294a0.cf985b",
        "order": 10,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Wind Direction (in °)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 720,
        "y": 4960,
        "wires": []
    },
    {
        "id": "a8631ea9.367b3",
        "type": "change",
        "z": "791895c1.03865c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list.14.wind.deg",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 4960,
        "wires": [
            [
                "df4c82da.a3256",
                "9a9d58aa.90e698"
            ]
        ]
    },
    {
        "id": "67ebe022.20a3f",
        "type": "ui_gauge",
        "z": "791895c1.03865c",
        "name": "",
        "group": "1d1294a0.cf985b",
        "order": 2,
        "width": 4,
        "height": 4,
        "gtype": "donut",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 810,
        "y": 4680,
        "wires": []
    },
    {
        "id": "9a9d58aa.90e698",
        "type": "ui_gauge",
        "z": "791895c1.03865c",
        "name": "",
        "group": "1d1294a0.cf985b",
        "order": 5,
        "width": 4,
        "height": 4,
        "gtype": "compass",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 680,
        "y": 4920,
        "wires": []
    },
    {
        "id": "b867ae8a.6a698",
        "type": "ui_gauge",
        "z": "791895c1.03865c",
        "name": "",
        "group": "1d1294a0.cf985b",
        "order": 3,
        "width": 4,
        "height": 4,
        "gtype": "compass",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "10000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 780,
        "y": 4760,
        "wires": []
    },
    {
        "id": "aece6718.ba3268",
        "type": "ui_gauge",
        "z": "791895c1.03865c",
        "name": "",
        "group": "1d1294a0.cf985b",
        "order": 4,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "10",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 930,
        "y": 4840,
        "wires": []
    },
    {
        "id": "c923ddbf.4b1ac",
        "type": "comment",
        "z": "791895c1.03865c",
        "name": "HTTP Request Via Weather API (DAY 2)",
        "info": "",
        "x": 660,
        "y": 4340,
        "wires": []
    },
    {
        "id": "ef48f511.5bafe8",
        "type": "change",
        "z": "791895c1.03865c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list.14.main.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 4620,
        "wires": [
            [
                "8de3fcaf.b6b16"
            ]
        ]
    },
    {
        "id": "35092e27.8f21d2",
        "type": "ui_gauge",
        "z": "791895c1.03865c",
        "name": "",
        "group": "1d1294a0.cf985b",
        "order": 1,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1070,
        "y": 4540,
        "wires": []
    },
    {
        "id": "8de3fcaf.b6b16",
        "type": "function",
        "z": "791895c1.03865c",
        "name": "Conversion",
        "func": "msg.payload = Math.round(msg.payload - 273.15);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 850,
        "y": 4580,
        "wires": [
            [
                "35d29111.4369de",
                "35092e27.8f21d2"
            ]
        ]
    },
    {
        "id": "6475bf05.3fc34",
        "type": "http request",
        "z": "791895c1.03865c",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "api.openweathermap.org/data/2.5/forecast?q=delhi&appid=f044fa317e908c0821619d9509699c2c",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1390,
        "y": 4460,
        "wires": [
            [
                "85e77fc5.9598",
                "88881f84.c124",
                "bfccb602.3b1128",
                "6aaf76fb.467758",
                "7d7dbfdb.3bf56",
                "114038cf.625e07"
            ]
        ]
    },
    {
        "id": "120c73d6.e842ac",
        "type": "inject",
        "z": "791895c1.03865c",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 1150,
        "y": 4360,
        "wires": [
            [
                "6475bf05.3fc34"
            ]
        ]
    },
    {
        "id": "114038cf.625e07",
        "type": "debug",
        "z": "791895c1.03865c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 1700,
        "y": 4420,
        "wires": []
    },
    {
        "id": "b529cb6d.15d9d8",
        "type": "ui_text",
        "z": "791895c1.03865c",
        "group": "9cdec02c.efb4d",
        "order": 6,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Temperature (in °C)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 2030,
        "y": 4600,
        "wires": []
    },
    {
        "id": "d24338ec.82ef68",
        "type": "ui_text",
        "z": "791895c1.03865c",
        "group": "9cdec02c.efb4d",
        "order": 7,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Humidity (in %)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1820,
        "y": 4700,
        "wires": []
    },
    {
        "id": "85e77fc5.9598",
        "type": "change",
        "z": "791895c1.03865c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list.15.main.humidity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1540,
        "y": 4700,
        "wires": [
            [
                "d24338ec.82ef68",
                "e33d3a43.6fae18"
            ]
        ]
    },
    {
        "id": "cf4b9332.10b44",
        "type": "ui_text",
        "z": "791895c1.03865c",
        "group": "9cdec02c.efb4d",
        "order": 8,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Pressure (in hPa)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1810,
        "y": 4780,
        "wires": []
    },
    {
        "id": "88881f84.c124",
        "type": "change",
        "z": "791895c1.03865c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list.15.main.pressure",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1500,
        "y": 4780,
        "wires": [
            [
                "cf4b9332.10b44",
                "2bb6194c.5649a6"
            ]
        ]
    },
    {
        "id": "37b998e1.bcb588",
        "type": "ui_text",
        "z": "791895c1.03865c",
        "group": "9cdec02c.efb4d",
        "order": 9,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Wind Speed (in m/sec)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1880,
        "y": 4880,
        "wires": []
    },
    {
        "id": "bfccb602.3b1128",
        "type": "change",
        "z": "791895c1.03865c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list.15.wind.speed",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1460,
        "y": 4860,
        "wires": [
            [
                "d8dbf33c.73c9a",
                "37b998e1.bcb588"
            ]
        ]
    },
    {
        "id": "a83b5840.f42a08",
        "type": "ui_text",
        "z": "791895c1.03865c",
        "group": "9cdec02c.efb4d",
        "order": 10,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Wind Direction (in °)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1660,
        "y": 4940,
        "wires": []
    },
    {
        "id": "6aaf76fb.467758",
        "type": "change",
        "z": "791895c1.03865c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list.15.wind.deg",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1360,
        "y": 4940,
        "wires": [
            [
                "a83b5840.f42a08",
                "6d4b9bca.45db64"
            ]
        ]
    },
    {
        "id": "e33d3a43.6fae18",
        "type": "ui_gauge",
        "z": "791895c1.03865c",
        "name": "",
        "group": "9cdec02c.efb4d",
        "order": 2,
        "width": 4,
        "height": 4,
        "gtype": "donut",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1750,
        "y": 4660,
        "wires": []
    },
    {
        "id": "6d4b9bca.45db64",
        "type": "ui_gauge",
        "z": "791895c1.03865c",
        "name": "",
        "group": "9cdec02c.efb4d",
        "order": 5,
        "width": 4,
        "height": 4,
        "gtype": "compass",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1620,
        "y": 4900,
        "wires": []
    },
    {
        "id": "2bb6194c.5649a6",
        "type": "ui_gauge",
        "z": "791895c1.03865c",
        "name": "",
        "group": "9cdec02c.efb4d",
        "order": 3,
        "width": 4,
        "height": 4,
        "gtype": "compass",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "10000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1720,
        "y": 4740,
        "wires": []
    },
    {
        "id": "d8dbf33c.73c9a",
        "type": "ui_gauge",
        "z": "791895c1.03865c",
        "name": "",
        "group": "9cdec02c.efb4d",
        "order": 4,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "10",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1870,
        "y": 4820,
        "wires": []
    },
    {
        "id": "48fabd77.e56244",
        "type": "comment",
        "z": "791895c1.03865c",
        "name": "HTTP Request Via Weather API (DAY 2)",
        "info": "",
        "x": 1600,
        "y": 4320,
        "wires": []
    },
    {
        "id": "7d7dbfdb.3bf56",
        "type": "change",
        "z": "791895c1.03865c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list.15.main.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1580,
        "y": 4600,
        "wires": [
            [
                "828d055d.158368"
            ]
        ]
    },
    {
        "id": "51bca4c9.25bccc",
        "type": "ui_gauge",
        "z": "791895c1.03865c",
        "name": "",
        "group": "9cdec02c.efb4d",
        "order": 1,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 2010,
        "y": 4520,
        "wires": []
    },
    {
        "id": "828d055d.158368",
        "type": "function",
        "z": "791895c1.03865c",
        "name": "Conversion",
        "func": "msg.payload = Math.round(msg.payload - 273.15);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1790,
        "y": 4560,
        "wires": [
            [
                "b529cb6d.15d9d8",
                "51bca4c9.25bccc"
            ]
        ]
    },
    {
        "id": "aa651e33.b3d79",
        "type": "uibuilder",
        "z": "a5880810.397518",
        "name": "",
        "topic": "",
        "url": "uibuilder",
        "fwdInMessages": false,
        "allowScripts": false,
        "allowStyles": false,
        "copyIndex": true,
        "showfolder": false,
        "x": 140,
        "y": 340,
        "wires": [
            [
                "9a82270d.6a6908"
            ],
            [
                "9a82270d.6a6908"
            ]
        ]
    }
]
